	<%if !inscene%>
		<div id="shareit">
			<div class="box_saomiao">
					<img class="" src="/images/saomiao.png" alt="" width="35%" />
					<div >到场扫描锁牌二维码可获取实时信息</div>
			</div>
			<div class="box_icon">
				<div class="box_yuyue ">
					<span class="mui-icon iconfont icon-dianhua"></span>
					<div>立即预约</div>
				</div>
				<div class="box_shoucang">
					<span class="mui-icon iconfont icon-xingxingman"></span>
					<div>收藏技师</div>
				</div>
			</div>
			<div class="statement">本会所严格按照国家有关法律规定，只提供健康休闲水疗、SPA、桑拿、足浴服务!</div>
			<button class="mui-btn mui-btn-positive saomiao" onclick='qrcode()'>入场扫描</button>
			<button class="mui-btn enter">场外浏览</button>
			<div class="close">离开</div>
		</div>
	<%end%>
		<!--弹窗搜索search-->
				<div class="mask_layer">
					<span class="mui-icon mui-icon-closeempty"></span>
					<div class="box_search">
						<div class="mui-input-row">
							<input class="mui-input-clear" type="text" placeholder="请输入技师工号" id="t_number"/>
						</div>
						<button id="btn" class="mui-btn mui-btn-positive" onclick="search()">搜索</button>
					</div>
					<div id="search_project" class="mui-scroll-wrapper">
						<div class="mui-scroll" id='project'>
						</div>
					</div>
				</div>
			</div>

			<header class="mui-bar mui-bar-nav">
				
				<%if inscene%>
				<div class="left_box">
					<span class="mui-icon mui-icon-search"></span>
					<span class="centain_2"><%=@sangna_config.per_user.name%></span>
				</div>
				<%else%>
					<div class="left_box">
						<span class="mui-icon mui-icon-search"></span>
						<span class="centain"  onclick='qrcode()'>进场扫描</span>
					</div>	
				<%end%>
				<div class="right_box">
					<div class="user_img_2" onclick='toperson()'>
						<img src="<%=wechat_config.wechat_user.headimgurl%>" alt=""  width="36px" height="36px" />
					</div>
					<div class="hand_box">
					<%if wechat_config.member.hand_code==""%>
						<div class="hand"></div>
						<div class="hand_num">未进场</div>

					<%else%>
						<div class="hand">普通<%=get_hand_code_sex(qr_code.user_qr_code_rule.sex)%></div>
						<div class="hand_num"><%=wechat_config.member.hand_code%></div>
					<%end%>
					</div>
				</div>
			</header>

	<div id="pullrefresh" class="mui-content mui-scroll-wrapper">
		 <div class="mui-scroll">
			 <!--数据列表-->
			<ul class="mui-table-view mui-table-view-chevron" id='t_data'>
			<%=yield%>
			</ul>
	 </div>
	</div>
<%if !inscene %>
			<nav class="mui-bar mui-bar-tab">
				<div class="box_footer">
						<img src="/images/buttom_img.png" alt="" width="42px" height="42px" />
						<span class="footer_span">到店扫描锁牌上的二维码后可查看技师详细资料</span>
				</div>
			</nav>
<script>
	$(function(){
		$('#shareit').css('height', window.innerHeight);
	
		$('.box_footer').css('width',$('.footer_span').width()+42);
		$('#shareit').show();
		$('.enter').click(function(){
				$('#shareit').hide();
			})
		$('.close').click(function(){
				wx.closeWindow();	
			})	
		$('#t_data').on('click','.jishi_img',function(){
				mui.toast('到场扫描锁牌二维码后才可查看');
		})
	})
		function collect(technician_id,icon){
						   var status="add";
							 if($(icon).attr("class").substr(-1)=="n"){
							 status="rm";
							 }
							 $.get("change_collect",{technician_id:technician_id,status:status,appid:"<%=params[:appid]%>"},function(obj){
									if(status=="add"){
										 $(icon).attr("class","mui-icon iconfont icon-xingxingman");
										 mui.toast('收藏成功');
									}   
								  else{
								     $(icon).attr("class","mui-icon iconfont icon-xingxingkong");
										 mui.toast('取消收藏成功');
								  }
							 })
			}
			function qrcode(){
				wx.scanQRCode({
					needResult: 1, // 默认为0，扫描结果由微信处理，1则直接返回扫描结果，
					scanType: ["qrCode"], // 可以指定扫二维码还是一维码，默认二者都有
					success: function (res) {
						var result = res.resultStr; // 当needResult 为 1 时，扫码返回的结果
						window.location.replace(result);
					}
				});	
			}

	<%else%>
		<script>
			function show_info(technician_id){
					window.location.href="technician_info?t_id="+technician_id+"&appid=<%=per_user.sangna_config.appid%>";
			}
			function toperson(){
					window.location.href='my_account?appid=<%=per_user.sangna_config.appid%>';
			}
	<%end%>
	var first=true;
	$(function(){
			(function($) {
						$('#search_project').scroll({
									indicators: true //是否显示滚动条
						});
			})(mui);

	$('.mui-icon-search').click(function(){
			if(first==true){
					$.get("project_class",{appid:"<%=per_user.sangna_config.appid%>"},function(obj){
							$("#project").html(obj);
							first=false;
					})
			}
			$('.mask_layer').show()
		})
		$('.mui-icon-closeempty').click(function(){
			$('.mask_layer').hide()
		})
		$('#btn').click(function(){
			$('.mask_layer').hide()
		})
})

</script>
