	<div class="mui-content">
		<div class="div_type"><%=tips%></div>
		<%technicians.each do |technician|%>
			<div class="Jishi_infor <%=return_job_class(technician.job_class_status,false)%>_color" onclick="show_info('<%=technician.id%>')">
				<div class="box_jishi">
					<div class="box_img <%=return_job_class(technician.job_class_status,false)%>_background">
						<img class="jishi_img" src="<%=technician.img.url%>" alt="" height="50px" width="50px" />
					</div>
					<span class="jishi_num fs17"><%=technician.job_number%></span>
					<span class="jishi_sex fs11">（<%= technician.sex==1 ? "男":"女"%>）</span>
					<span class="jishi_type"><%=return_job_class(technician.job_class_status)%></span>
					<%if inscene%>
					<span class="jishi_state fs11">
					<%=return_technician_state(technician.work_status)%>
					</span>
					<%end%>
				</div>
				<div class="evaluate fs12">
					其它客户觉得TA：
		<!--			<span class="project"><%=get_hot_project(technician.id)%></span   --!>
					<span class="jishi_best"><%=get_hot_comment(technician.id)%></span>
					<%if inscene%>
			    <span class="current_state fs12"> <span class="time">13:00pm</span>有预约</span>
					<%end%>
				</div>
			</div>
		<%end%>
	</div>
