			<div class="backdrop">
				<div class="popup">
					<div class="bold"><%=name%>会所郑重承诺: </div>
					<div class="content">本会所严格按照国家有关法律规定，只提供健康休闲水疗、SPA、桑拿等服务；”领客云平台”只提供技术支持，本微信公众账号内所有数据皆由店家或技师自行上传。</div>
					<div class="box_btn">
						<button class="cancel" >返回</button>
						<button class="close close_popup">进入</button>
					</div>
				</div>
			</div>
			<%if inscene%>
			<header class="mui-bar mui-bar-nav">
					<div class="user_img_2">
							<img src="<%=wechat_config.wechat_user.headimgurl%>" alt=""  width="36px" height="36px" />
					</div>
					<span class="hand_num_2"><%=wechat_config.member.hand_code%></span>
					<span class="personal" onclick='toperson()'>个人中心</span>
			</header>
			<%end%>

	<div id="pullrefresh" class="mui-content mui-scroll-wrapper">
		 <div class="mui-scroll">
			 <!--数据列表-->
			<ul class="mui-table-view mui-table-view-chevron">
		<%technicians.each do |technician|%>
			<div class="Jishi_infor jishi_color" onclick="show_info('<%=technician.id%>')">
				<div class="box_jishi">
					<div class="box_img jishi_background">
						<img class="jishi_img" src="<%=technician.img.url%>" alt="" height="50px" width="50px" />
					</div>
					<span class="jishi_num fs17"><%=technician.job_number%></span>
					<span class="jishi_sex fs11">（<%= technician.sex==1 ? "男":"女"%>）</span>
					<span class="jishi_type"><%=return_job_class(technician.job_class_status)%></span>
					<%if inscene%>
					<span class="jishi_state fs11">
					<%=return_technician_state(technician.work_status)%>
					</span>
					<%else%>
					<a href="tel:123213">
					<div class="yuan_yuyue">
						<span class="mui-icon mui-icon-phone"></span>
						<!--<span class="mui-icon iconfont icon-dianhua"></span> --!>
					</div>
					</a>
					<div class="yuan_shoucang">
					<!--	<span class="mui-icon iconfont icon-xingxingman"> </span>  --!>
						<span class="mui-icon iconfont icon-xingxing<%=is_collect(params[:appid],technician.id)%>" onclick="collect('<%=technician.id%>',this)"></span> 
					</div>
					<%end%>
				</div>
				<div class="evaluate fs12">
					其它客户觉得TA：
		<!--			<span class="project"><%=get_hot_project(technician.id)%></span   --!>
					<span class="jishi_best"><%=get_hot_comment(technician.id)%></span>
					<%if inscene%>
			    <span class="current_state fs12"> <span class="time">13:00pm</span>有预约</span>
					<%end%>
				</div>
			</div>
		<%end%>
		<%if !inscene %>
			<nav class="mui-bar mui-bar-tab">
				  <div class="tip">到店扫描锁牌上的二维码后可查看技师详细资料	</div>
				 <button class="btn_sao" id='qrcode'>扫一扫</button>
			</nav>
		<%end%>
		</ul>
	 </div>
	</div>
