<header class="mui-bar mui-bar-nav">
<!-- 	<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a> --!>
<!--	<h1 class="mui-title"><%=topic%></h1> --!>
		<a class="mui-pull-right ">扫一扫</a>
</header>

	<div class="mui-content">
		<div class="div_type">你可扫描锁牌上的二维码转为场内状态查看更多技师信息</div>
		<%technicians.each do |technician|%>
			<div class="Jishi_infor <%=return_job_class(technician.job_class_status,false)%>_color" onclick="show_info('<%=technician.id%>')">
				<div class="box_jishi">
					<div class="box_img <%=return_job_class(technician.job_class_status,false)%>_background">
						<img class="jishi_img" src="<%=technician.img.thumb.url%>" alt="" height="50px" width="50px" />
					</div>
					<span class="jishi_num fs17"><%=technician.job_number%></span>
					<span class="jishi_sex fs11">（<%= technician.sex==1 ? "男":"女"%>）</span>
					<span class="jishi_type"><%=return_job_class(technician.job_class_status)%></span>
					<span class="jishi_state fs11">
						<span class="time">13:00pm</span>有预约
					</span>
					
				</div>
				<div class="evaluate fs12">
					其它客户觉得TA：
					<span class="project"><%=get_hot_project(technician.id)%></span>
					<span class="jishi_best"><%=get_hot_comment(technician.id)%></span>
			    <span class="current_state fs12">当前<%=return_technician_state(technician.work_status)%></span>
				</div>
			</div>
		<%end%>
	</div>
