<link href="https://cdn.bootcss.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/font-awesome/4.4.0/fonts/fontawesome-webfont.svg"/>
	<%if !inscene%>
		<div id="shareit">
			<div class="box_saomiao">
					<img class="" src="/images/saomiao.png" alt="" width="35%" />
					<div >到场扫描锁牌二维码可获取实时信息</div>
			</div>
			<div class="box_icon">
				<div class="box_yuyue ">
					<span class="mui-icon iconfont icon-dianhua"></span>
					<div>立即预约</div>
				</div>
				<div class="box_shoucang">
					<span class="mui-icon iconfont icon-xingxingman"></span>
					<div>收藏技师</div>
				</div>
			</div>
			<div class="statement">本会所严格按照国家有关法律规定，只提供健康休闲水疗、SPA、桑拿、足浴服务!</div>
			<button class="mui-btn mui-btn-positive saomiao" onclick='qrcode()'>入场扫描</button>
			<button class="mui-btn enter">场外浏览</button>
			<div class="close">离开</div>
		</div>
	<%end%>
		<!--弹窗-提示扫描-->
		<div class="BJ_shareit">
			<div id="BJ_shareit">
				<span class="mui-icon mui-icon-closeempty"></span>
				<div class="box_img_propaganda">
					<img src="/images/propaganda.png" alt="" width="340px" height="240px" />
				</div>
				<div class="title">想看海量技师<span class="enlarge">照片</span>？</div>
				<div class="title2">您还没扫描,当然看不到</div>
				<div class="box_round" onclick='qrcode()'>
					<div class="box_inside_round">
						<div class="title3">【點我】</div>
						<div class="title_small">扫描锁牌二维码</div>
					</div>
				</div>
			</div>
		</div>
		<!--弹窗搜索search-->
				<div class="mask_layer">
					<span class="mui-icon mui-icon-closeempty"></span>
					<div class="box_search">
						<div class="mui-input-row">
							<input class="mui-input-clear" type="text" placeholder="请输入技师工号" id="t_number"/>
						</div>
						<button id="btn" class="mui-btn mui-btn-positive" onclick="search()">搜索</button>
					</div>
					<div id="search_project" class="mui-scroll-wrapper">
						<div class="mui-scroll" id='project'>
						</div>
					</div>
				</div>
			</div>

			<header class="mui-bar mui-bar-nav">
				
				<%if inscene%>
				<div class="left_box">
					<span class="mui-icon mui-icon-search"></span>
					<span class="centain_2"><%=@sangna_config.per_user.name%></span>
				</div>
				<%else%>
					<div class="left_box">
						<span class="mui-icon mui-icon-search"></span>
						<span class="centain"  onclick='qrcode()'>进场扫描</span>
					</div>	
				<%end%>
				<div class="right_box">
					<div class="user_img_2" onclick='toperson()'>
						<img src="<%=wechat_config.wechat_user.headimgurl%>" alt=""  width="36px" height="36px" />
						<span class="mui-icon iconfont icon-dian"></span>
					</div>
					<div class="hand_box">
					<%if !wechat_config.member.per_user_qr_code%>
						<div class="hand"></div>
						<div class="hand_num">未进场</div>

					<%else%>
						<div class="hand">普通<%=get_hand_code_sex(qr_code.user_qr_code_rule.sex)%></div>
						<div class="hand_num"><%=wechat_config.member.per_user_qr_code.hand_code%></div>
					<%end%>
					</div>
				</div>
			</header>

	<div id="pullrefresh" class="mui-content mui-scroll-wrapper">
		 <div class="mui-scroll" id='div_Test'>
			 <!--数据列表-->
			<ul class="mui-table-view mui-table-view-chevron" id='t_data'>
			<%=yield%>
			</ul>
	 </div>
	</div>
	<%if inscene%>
			<!--弹窗-提示领取页-->
		<div class="Popup Popup-tips-rule">
			<div class="Mask_layer"></div>
			<div class="content_Binding">
				<div class="box_infor_Binding">
					<span class="mui-icon mui-icon-closeempty"></span>
					<div class="box-content clearfix">
						<img src="/images/Jin.png" height="100px" width="100px"/>
						<div class="text-content" id='card_content'>恭喜您获得XXX技师代金券，此代金券只能现场使用！</div>
					</div>
					<button type="button" class="mui-btn public_btn" onclick='to_card()'>看一看</button>
					<a class="delay">稍后查看</a>
				</div>
			</div>
		</div>
		<!--弹窗-提示领取到达上限-->
		<div class="Popup Popup-tips-max">
			<div class="Mask_layer"></div>
			<div class="content_Binding">
				<div class="box_infor_Binding">
					<span class="mui-icon mui-icon-closeempty"></span>
					<div class="box-content clearfix">
						<img src="/images/BaoCuo_Page.png" height="90px" width="90px"/>
						<div class="text-content">您的领取次数已达到上限！</div>
					</div>
					<button type="button" class="mui-btn public_btn">确定</button>
				</div>
			</div>
		</div>
		<%=javascript_include_tag "wechat/jquery.fly"%>
		<script type="text/javascript">
			$(function(){
				$('.box-content>.text-content').css('width', $('.box_infor_Binding').width()-128);
					$('.Popup-tips-rule').hide();
					$('.Popup-tips-max').hide();

				$('.box_infor_Binding').find('.mui-icon-closeempty').click(function(){
					$('.Popup-tips-rule').hide();
					$('.Popup-tips-max').hide();
				})
				$('.box_infor_Binding').find('.delay').click(function(){
					$('.Popup-tips-rule').hide();
					$('.Popup-tips-max').hide();
				})
				$('.Popup-tips-max').find('.public_btn').click(function(){
					$('.Popup-tips-max').hide();
				})
			})
		</script>
		<script type="text/javascript">
			function to_card(){
				window.location.href='card_info?appid=<%=per_user.sangna_config.appid%>&prompt=true';
			}
			$(function(){
				var offset = $(".user_img_2").offset();
			    $(document).on('tap', '.technician-rule', function(event){ 
			        var addcar = $(this); 
					var X = addcar.offset().left;
					var Y = addcar.offset().top;
			        var img = addcar.find('img').attr('src'); 
			        $(this).hide();
			        var Jin=$(this);
			        var flyer = $('<img class="u-flyer" src="'+img+'">'); 
//			        alert(12);
			        flyer.fly({ 
			            start: { 
			                left: X, //开始位置（必填）#fly元素会被设置成position: fixed 
			                top: Y, //开始位置（必填） 
			            }, 
			            end: { 
			                left: offset.left+30, //结束位置（必填） 
			                top: offset.top, //结束位置（必填） 
			                width: 0, //结束时宽度 
			                height: 0 //结束时高度 
			            }, 
			            onEnd: function(){ //结束回调 
			               $('.right_box .user_img_2 .icon-dian').show();
										 $.post('get_tech_card',{appid:'<%=per_user.sangna_config.appid%>',tech_id:addcar.attr('target')},function(obj){
													if(obj=='err'){
														$('.right_box .user_img_2 .icon-dian').hide();
														$('.Popup-tips-max').show();
														Jin.show();
													}else if (obj=='unvaild'){
														$('.right_box .user_img_2 .icon-dian').hide();
														mui.toast('会所或技师暂未开启此功能！');
														Jin.show();
													}else{
														content=$(addcar.siblings("[class=JiShi_JobNum]")[0]).children()[0].innerHTML
														$('#card_content').html("恭喜您获得"+content+"技师代金券，此代金券只能现场使用！")
														$('.Popup-tips-rule').show();
													}	 
										 })
			            } 
			        }); 
							event.stopPropagation() 
			    }); 
			})
		</script>
	<%end%>
<%if !inscene %>

		<nav class="mui-bar mui-bar-tab">
					<div class="box_footer">
						<img src="/images/buttom_img.png" alt="" width="42px" height="42px" />
						<span class="footer_span">技师实时状态更新中，</span>
						<span class="footer_span">最终状态请以服务员查询为准</span>
					</div>
		</nav>
<script>
	$(function(){

		$('#BJ_shareit>.box_img_propaganda>img').css("width",window.innerWidth*0.65);
		$('#BJ_shareit>.box_img_propaganda>img').css("height",window.innerWidth*0.65*24/34);
	$('#BJ_shareit>.box_round').css("height",window.innerWidth*0.43);
	$('#BJ_shareit>.box_round>.box_inside_round').css("width",window.innerWidth*0.39);
	$('#BJ_shareit>.box_round>.box_inside_round').css("height",window.innerWidth*0.39);
	$('#BJ_shareit>.box_round>.box_inside_round').css("margin",window.innerWidth*0.019);
	$('.box_round,#BJ_shareit>.mui-icon-closeempty').click(function(){
		$('.BJ_shareit').hide()
	})
		$('.box_footer').css('width',$('.footer_span').width()+42);
		$('#shareit').show();
		$('.enter').click(function(){
				$('#shareit').hide();
			})
		$('.close').click(function(){
				wx.closeWindow();	
			})	
		$('#t_data').on('click','.jishi_img',function(){
				Show_BJ_shareit()
		})
	})

	function Show_BJ_shareit() {
		$('.BJ_shareit').show();
		setTimeout("Hide_BJ_shareit()",5000);
	}
	function Hide_BJ_shareit() {
		$('.BJ_shareit').hide();
	}
		function collect(technician_id,icon){
						   var status="add";
							 if($(icon).attr("class").substr(-1)=="n"){
							 status="rm";
							 }
							 $.get("change_collect",{technician_id:technician_id,status:status,appid:"<%=params[:appid]%>"},function(obj){
									if(status=="add"){
										 $(icon).attr("class","mui-icon iconfont icon-xingxingman");
										 mui.toast('收藏成功');
									}   
								  else{
								     $(icon).attr("class","mui-icon iconfont icon-xingxingkong");
										 mui.toast('取消收藏成功');
								  }
							 })
			}
			function qrcode(){
				wx.scanQRCode({
					needResult: 1, // 默认为0，扫描结果由微信处理，1则直接返回扫描结果，
					scanType: ["qrCode"], // 可以指定扫二维码还是一维码，默认二者都有
					success: function (res) {
						var result = res.resultStr; // 当needResult 为 1 时，扫码返回的结果

						window.location.replace(result);
					}
				});	
			}

	<%else%>
		<script>
			function show_info(technician_id){
					window.location.href="technician_info?t_id="+technician_id+"&appid=<%=per_user.sangna_config.appid%>";
			}
	<%end%>
	function toperson(){
					window.location.href='my_account?appid=<%=per_user.sangna_config.appid%>';
			}
	var first=true;
	$(function(){
		if($('#shareit').height() < window.innerHeight ){
			$('#shareit').css('height', window.innerHeight);
		}
			(function($) {
						$('#search_project').scroll({
									indicators: true //是否显示滚动条
						});
			})(mui);

	$('.mui-icon-search').click(function(){
			if(first==true){
					$.get("project_class",{appid:"<%=per_user.sangna_config.appid%>"},function(obj){
							$("#project").html(obj);
							first=false;
					})
			}
			$('.mask_layer').show()
		})
		$('.mui-icon-closeempty').click(function(){
			$('.mask_layer').hide()
		})
		$('#btn').click(function(){
			$('.mask_layer').hide()
		})
	$(document).on('tap','i',function(){
		if($(this).hasClass('fa-thumbs-o-up')){
			add_like(this)
			$.post("operate_like",{appid:'<%=per_user.sangna_config.appid%>',type:'add',tech_id:$(this).parent().parent().prev().val()},function(obj){
             	if(obj=='err'){
               		del_like(this)  
             	}
       		})

		}else{
			del_like(this)  
         	$.post("operate_like",{appid:'<%=per_user.sangna_config.appid%>',type:'del',tech_id:$(this).parent().parent().prev().val()},function(obj){
             		if(obj=='err'){
               			add_like(this)  
             		}
       		})	
		}
		e.stopPropagation() 
	});
	$(document).on("tap",'.Jishi_infor',function(){
		 show_info($(this).children().eq(0).val()); 
	})
})
	function add_like(obj){
       $(obj).removeClass('fa-thumbs-o-up animation-delete');
       $(obj).addClass('fa-thumbs-up animation-zan');
       var praise_num = $(obj).parent().find('span');
       praise_num.html(parseInt(praise_num.html())+1);
   }
   function del_like(obj){
       $(obj).removeClass('fa-thumbs-up animation-zan');
       $(obj).addClass('fa-thumbs-o-up animation-delete');
       var praise_num = $(obj).parent().find('span');
       praise_num.html(parseInt(praise_num.html())-1);
   }

</script>
