<%content_for :head do%>
		<meta charset="utf-8">
	    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	    <%=javascript_include_tag "jquery-2.1.0"%>
		<%=javascript_include_tag "mui.min"%>
		<%=stylesheet_link_tag "wechat_front/mui.min"%>
		<%=stylesheet_link_tag "wechat_front/YuE"%>
		<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
	    <title>余额</title>
			<script>
					$(function(){
							$('#submit').click(function(){
										mui.toast('暂不支持充值');
								})
						})
			</script>
				<script type="text/javascript">
			wx.hideAllNonBaseMenuItem();

		 wx.config({
			      debug: false, 
						appId: '<%=params[:appid]%>', 
						timestamp:'<%=timestamp=Time.now.to_i%>' , 
						nonceStr: '<%=nonceStr=SecureRandom.uuid.tr('-', '')%>', 
						signature: '<%=signature(timestamp,nonceStr)%>',
						jsApiList: ['onMenuShareTimeline','onMenuShareAppMessage'] 
		});
		wx.ready(function(){
		//    wx.hideOptionMenu();
		wx.showAllNonBaseMenuItem();
		wx.onMenuShareTimeline({
		      title: '<%=@sangna_config.per_user.name%>会所!', 
		        link: 'http://weixin.linkke.cn/wechat/wc_front/choose_technician?appid=<%=params[:appid]%>',
		        imgUrl: 'http://linkke.cn<%=@sangna_config.per_user.per_user_imgs.first.url.url%>',
		        success: function(res){
							
		        },
		        cancel: function(res){
				    }
			 });


			 wx.onMenuShareAppMessage({
				    title: '<%=@sangna_config.per_user.name%>会所!', 
					  desc: '', 
					  link: 'http://weixin.linkke.cn/wechat/wc_front/choose_technician?appid=<%=params[:appid]%>', 
						imgUrl: 'http://linkke.cn<%=@sangna_config.per_user.per_user_imgs.first.url.url%>',
						success: function () { 
						},
						cancel: function () { 
						}
			 });
		})
	</script>
	    <%end%>
<%content_for :body do%>
		<div class="mui-content">
			<div class="yue">余额</div>
			<div class="yue_num"><span>￥</span>0.00</div>
			<button id="submit" class="mui-btn public_btn">充值</button>
			<div class="footer">
				<a href="" class="">服务条款</a>
				<div class="">领客云平台</div>
			</div>
		</div>
<%end%>
