<%content_for :head do%>
		<meta charset="utf-8">
	    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<%=javascript_include_tag "jquery-2.1.0"%>
		<%=javascript_include_tag "mui.min"%>
		<%=stylesheet_link_tag "wechat_front/mui.min"%>
		<%=stylesheet_link_tag "common"%>
		<%=stylesheet_link_tag "KaJuan"%>
		<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
	    <title>卡劵</title>
	    	<script type="text/javascript">
			wx.hideAllNonBaseMenuItem();

		 wx.config({
			      debug: false, 
						appId: '<%=params[:appid]%>', 
						timestamp:'<%=timestamp=Time.now.to_i%>' , 
						nonceStr: '<%=nonceStr=SecureRandom.uuid.tr('-', '')%>', 
						signature: '<%=signature(timestamp,nonceStr)%>',
						jsApiList: ['onMenuShareTimeline','onMenuShareAppMessage'] 
		});
		wx.ready(function(){
		//    wx.hideOptionMenu();
		wx.showAllNonBaseMenuItem();
		wx.onMenuShareTimeline({
		      title: '<%=@sangna_config.per_user.name%>!', 
		        link: 'http://weixin.linkke.cn/wechat/wc_front/choose_technician?appid=<%=params[:appid]%>',
		        imgUrl: 'http://linkke.cn<%=@sangna_config.per_user.per_user_imgs.first.url.thumb.url%>',
		        success: function(res){
							
		        },
		        cancel: function(res){
				    }
			 });


			 wx.onMenuShareAppMessage({
				    title: '<%=@sangna_config.per_user.name%>!', 
					  desc: '', 
					  link: 'http://weixin.linkke.cn/wechat/wc_front/choose_technician?appid=<%=params[:appid]%>', 
						imgUrl: 'http://linkke.cn<%=@sangna_config.per_user.per_user_imgs.first.url.thumb.url%>',
						success: function () { 
						},
						cancel: function () { 
						}
			 });
		})

		$(function(){
				$('.btn_cancle').click(function(){
						$('#shareit_Tips').hide();
				})
		
		})
	</script>
<%end%>
<%content_for :body do%>
	<%if @cards.empty?%>
			<span class="ShouCang_none">暂无卡券</span>
	<%else%>
	<%@cards.each do |card|%>
		<%if !card.status.in?([1,2])%>
		 <div class="box_coupons_2">
				<div class="coupons_num type_after_use"><%=card.coupons_rule.face_value%></div>
				<div class="box_2">
					<div class="project_2">代金券</div>
					<div class="closing_time_2">截止日期:<%=(card.created_at+card.coupons_rule.due_day.days).strftime('%Y年%m月%d日')%>
					</div>
				</div>
				<%if card.status==3%>
						<button class="btn_after_use" disabled>已使用</button>
				<%else%>
						<button class="btn_after_use" disabled>已过期</button>
				<%end%>
			</div>
		</div>
		<%else%>
		<div class="mui-content">
			<div class="box_coupons">
				<div class="box_infor">
					<div class="coupons_num"><%=card.coupons_rule.face_value%></div>
					<div class="box">
						<div class="project">代金券</div>
						<div class="closing_time">截止日期:<%=(card.created_at+card.coupons_rule.due_day.days).strftime('%Y年%m月%d日')%></div>
						<div class="status">到场自动激活</div>
					</div>
				</div>
				<%if @inscene%>
					<%if card.status==2%>
						<button class="employ" onclick="want_to_use('<%=card.id%>')">我要使用</button>
					<%end%>
				<%end%>
<div class="guize" onclick='rule(<%=card.id%>)'>使用规则</div>
			</div>
		</div>
		<%end%>
	<%end%>
<%end%>
		<!--/*确认是否使用弹窗*/-->
		<div class="shareit_1">
			<div class="box_determine">
				<div class="title_determine">请告诉我们您可能什么时候再来？</div>
				<div class="btn_box">
					<button id="btn1" class="type_btn">一星期内</button>
					<button id="btn2" class="type_btn">一个月内</button>
					<button id="btn3" class="type_btn">三个月内</button>
					<button id="btn4" class="type_btn">不告诉你</button>
				</div>
				<button class="sure" id="use_card">确认使用代金券</button>
				<button class="cancle">放弃使用</button>
			</div>
		</div>
		<!--/*确认使用的弹窗*/-->
		<div class="shareit_2">
			<div class="box_useing">
				<div class="title_useing">XXX使用一张￥50代金券成功</div>
				<div class="useing_infor">
					<div class="useing_time">2015年7月18号 18:00</div>
					<div class="user_handnum">1111</div>
					<div class="useing_tip">(点击关闭前请展示给收银员看)</div>
				</div>
				<button class="close">关闭</button>
			</div>
		</div>

		<!--弹窗提示绑定手机--!>
				<div id="shareit_Tips">
						<div id="XingBie" class="">
								<div class="box_yuyan">
										<div class="box_title">
											<div>提示</div>
											<div class="box_Line"></div>
										</div>
										<div class="type_yuyan">
											<div class="tip_content">您还没有绑定手机号码，</div>
											<div class="tip_content">无法使用该红包。</div>
										</div>
								</div>
								<div class="box_button">
									<button class="btn_cancle">取消</button>
									<button class="btn_confirm " id='bind'>立即绑定</button>
								</div>
						</div>
				</div>
		<script type="text/javascript">
		 var c_id;
			$(function(){
				var Height = window.innerWidth*0.96*200/520;
				var Height_2 = window.innerWidth*0.96*180/590;
				$('.box_coupons').css("height",Height);
				$('.box_coupons_2').css("height",Height_2);
				$('.coupons_num').css('height',Height*0.6);
				$('.coupons_num').css('width',Height*0.6);
				$('.coupons_num').css('line-height',Height*0.017);
				$('.coupons_num_2').css('height',Height_2*0.7);
				$('.coupons_num_2').css('width',Height_2*0.7);
				$('.coupons_num_2').css('line-height',Height_2*0.02);
				$('.box').css('padding-left',(Height*0.25+window.innerWidth*0.96*0.10));
				$('.box').css('padding-top',Height*0.25);
				$('.box').css('height',Height*0.81);
				$('.box_2').css('left',(Height_2*0.7+window.innerWidth*0.96*0.10));

				
				//判断选择了哪个按钮
				$('.type_btn').each(function(){
					$(this).on('click',function(){
						$('.type_btn').each(function(){
							$('.type_btn').attr('class','type_btn')
						})
						$(this).toggleClass("type_change")
						//alert($(this).attr('id'));
					})
				})
				//打开确认是否使用的弹窗
				//$('.employ').click(function(){
				//	$('.shareit_1').show()
				//})
				//打开确认使用的弹窗
				$('.sure').click(function(){
					if ($('.type_change').length==0){
							mui.toast('请选择选项');
					}
					else{
							$.post('use_card',{appid:'<%=params[:appid]%>',c_id:c_id,questionary:$('.type_change').eq(0).html()},function(obj){
									if(obj.id==c_id){
											var my_date=new Date();
											var minute=my_date.getMinutes();
											if (minute.toString().length==1){
													minute="0"+minute;	
											}
											var date_string=my_date.getFullYear()+"年"+(my_date.getMonth()+1)+"月"+my_date.getDate()+"日 "+my_date.getHours()+":"+minute;
											$('.title_useing').eq(0).html('您使用了一张￥'+obj.coupons_rule.face_value+"元代金券成功");
											$('.useing_time').eq(0).html(date_string);
											$('.user_handnum').eq(0).html(obj.member.per_user_qr_code.hand_code);
											$('.shareit_1').hide()
											$('.shareit_2').show()	
									}	
									else{
												mui.toast(obj);	
									}
							},'json')
					}
				})
				//关掉确认是否使用的弹窗
				$('.cancle').click(function(){
					$('.type_change').attr('class','type_btn');
					$('.shareit_1').hide()
				})
				//关掉确认使用的弹窗
				$('.close').click(function(){
					$('.shareit_2').hide()
						window.location.reload();
					})


			})

			function want_to_use(card_id){
			<%if @wechat_config.member.username!=@wechat_config.openid && @wechat_config.member.username!='未关注' %>
			  $('.shareit_1').show();
				c_id=card_id;
				<%else%>
				$("#shareit_Tips").show();
				$("#bind").click(function(){
					window.location.href='phone_bind?appid=<%=params[:appid]%>';
				})
				<%end%>
			}

			function rule(id){
				window.location.href='card_rule?id='+id+"&appid=<%=params[:appid]%>";	
			}
		</script>
<%end%>
