
	<%content_for :head do%>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<%=javascript_include_tag "jquery-2.1.0"%>
		<%=javascript_include_tag "mui.min"%>
		<%=stylesheet_link_tag "wechat_front/mui.min"%>
		<%=stylesheet_link_tag "wechat_front/common"%>
		<%=stylesheet_link_tag "wechat_front/Box_jishi"%>
		<%=stylesheet_link_tag "wechat_front/iconfont"%>
		<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
		<title>挑选技师</title>
	<script>
	  var page=1
		mui.init({
			pullRefresh: {
				container: '#pullrefresh',
				down: {
						callback: pulldownRefresh
				},
				up: {
						contentrefresh: '正在加载...',
						callback: pullupRefresh
				}
			}
		});
		/**
		* 下拉刷新具体业务实现
		*/
		function pulldownRefresh(){
			page = 1;
			setTimeout(function(){
			
			$.get('page_technician',{appid:'<%=params[:appid]%>',page:page,inscene:<%=@inscene%>},function(obj){
						$("#t_data").html(obj);
							<%if @inscene%>
									countdown();
							<%end%>
				})
				mui('#pullrefresh').pullRefresh().endPulldownToRefresh(); //refresh completed
			}, 1500);
		}
	/**
	* 上拉加载具体业务实现
	*/
	function pullupRefresh() {
				setTimeout(function(){
					$.get('page_technician',{appid:'<%=params[:appid]%>',page:(page+1),inscene:<%=@inscene%>},function(obj){
								if(obj==''){
								}
								else{
									$('#t_data').append(obj);
									page++;
									<%if @inscene%>
											countdown();
									<%end%>
								}
							mui('#pullrefresh').pullRefresh().endPullupToRefresh(); //参数为true代表没有更多数据了。
						})
				}, 1500);
	}
	</script>


		<script>
	function toperson(){
					window.location.href='my_account?appid=<%=params[:appid]%>';
			}
				wx.hideAllNonBaseMenuItem();
				<%if @inscene%>
				function countdown(){
					$.each($('.jishi_state'),function(a,b){
									var content=$(b).html();
									var index=content.indexOf('分钟')
									if(index!=-1){
											var time=parseInt(content.substring(0,index));
											var abc=setInterval(function(){
													time--;
													if(time==0){
														clearInterval(abc);
													}
													else{
													$(b).html(time+'分钟后有空');
													}
												},60000)
										}
							})
				}
				$(function(){
						$.get('page_technician',{appid:'<%=params[:appid]%>',page:page,inscene:<%=@inscene%>},function(obj){
						$("#t_data").html(obj);
						countdown();
				})
					wx.config({
				    debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
				    appId: '<%=params[:appid]%>', // 必填，公众号的唯一标识
				    timestamp:'<%=timestamp=Time.now.to_i%>' , // 必填，生成签名的时间戳
				    nonceStr: '<%=nonceStr=SecureRandom.uuid.tr('-', '')%>', // 必填，生成签名的随机串
				    signature: '<%=signature(timestamp,nonceStr)%>',// 必填，签名，见附录1
				    jsApiList: ['onMenuShareTimeline','onMenuShareAppMessage'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
					});
				})
			function show_info(technician_id){
					window.location.href="technician_info?t_id="+technician_id+"&appid=<%=params[:appid]%>";
			}
			<%else%>
			function collect(technician_id,icon){
						   var status="add";
							 if($(icon).attr("class").substr(-1)=="n"){
							 status="rm";
							 }
							 $.get("change_collect",{technician_id:technician_id,status:status,appid:"<%=params[:appid]%>"},function(obj){
									if(status=="add"){
										 $(icon).attr("class","mui-icon iconfont icon-xingxingman");
										 mui.toast('收藏成功');
									}   
								  else{
								     $(icon).attr("class","mui-icon iconfont icon-xingxingkong");
										 mui.toast('取消收藏成功');
								  }
							 })
			}
		
		$(function(){
			$(".enter").click(function(){
					$.get('page_technician',{appid:'<%=params[:appid]%>',page:page,inscene:<%=@inscene%>},function(obj){
					$("#t_data").html(obj);
				})
			})
		})

			wx.config({
		    debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
		    appId: '<%=params[:appid]%>', // 必填，公众号的唯一标识
		    timestamp:'<%=timestamp=Time.now.to_i%>' , // 必填，生成签名的时间戳
		    nonceStr: '<%=nonceStr=SecureRandom.uuid.tr('-', '')%>', // 必填，生成签名的随机串
		    signature: '<%=signature(timestamp,nonceStr)%>',// 必填，签名，见附录1
		    jsApiList: ["scanQRCode",'onMenuShareTimeline','onMenuShareAppMessage'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
				});
		<%end%>
		wx.ready(function(){
			$("#qrcode").click(function(){
				wx.scanQRCode({
					needResult: 1, // 默认为0，扫描结果由微信处理，1则直接返回扫描结果，
					scanType: ["qrCode"], // 可以指定扫二维码还是一维码，默认二者都有
					success: function (res) {
						var result = res.resultStr; // 当needResult 为 1 时，扫码返回的结果
						window.location.href=result
					}
				});	
			});
			wx.showAllNonBaseMenuItem();
		wx.onMenuShareTimeline({
		      title: '<%=@sangna_config.per_user.name%>会所!', 
		        link: 'http://weixin.linkke.cn/wechat/wc_front/choose_technician?appid=<%=params[:appid]%>',
		        imgUrl: 'http://weixin.linkke.cn<%=image_path @sangna_config.per_user.per_user_imgs.first.url.url%>',
		        success: function(res){
							
		        },
		        cancel: function(res){
				    }
			 });


			 wx.onMenuShareAppMessage({
				    title: '<%=@sangna_config.per_user.name%>会所!', 
					  desc: '', 
					  link: 'http://weixin.linkke.cn/wechat/wc_front/choose_technician?appid=<%=params[:appid]%>', 
						imgUrl: 'http://weixin.linkke.cn<%=image_path @sangna_config.per_user.per_user_imgs.first.url.url%>',
						success: function () { 
						},
						cancel: function () { 
						}
			 });
		})
		</script>
		
	<%end%>
	<%content_for :body do%>
	 <%=render partial: "tech_layout" ,locals: {inscene:@inscene,per_user:@sangna_config.per_user,wechat_config:@wechat_config,qr_code:@qr_code||=""}%>
	<%end%>
