<%content_for :head do%>	
	<meta charset="utf-8">
	    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
			  <%=javascript_include_tag "jquery-2.1.0"%>
          <%=javascript_include_tag "mui.min"%>
          <%=stylesheet_link_tag "wechat_front/mui.min"%>
          <%=stylesheet_link_tag "wechat_front/common"%>
          <%=stylesheet_link_tag "wechat_front/My_account"%>
       <%=stylesheet_link_tag "wechat_front/iconfont"%>
       <%=javascript_include_tag 'emojify'%>
		<title>个人资料</title>
<%end%>
<%content_for :body do%>
<!--		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>  
			<h1 class="mui-title">个人资料</h1>
		</header>
--!>
		<div class="mui-content">
			<div class="box_1">
				<a class="mui-navigate-right">
					<span class="size loca_3">头像</span>
					<div class="img_border">
						<img src="<%=@wechat_user.headimgurl%>" width="55px" height="55px" />
					</div>
				</a>
			</div>
			<div class="infor NiCheng">
				<a class="mui-navigate-right">
					<span class="size loca_1">昵称</span>
					<span class="size loca_2"><%=@wechat_user.nickname%></span>
				</a>
			</div>
			<div class="infor Zhenshi_Xingming">
				<a class="mui-navigate-right">
					<span class="size loca_1">邮箱</span>
					<span class="size loca_2">未绑定</span>
				</a>
			</div>
		</div>
		
		 <script>
			
			
		// 	document.querySelector('.NiCheng').addEventListener('tap', function() {
		// 	  //打开昵称页面
		// 	  mui.openWindow({
		// 	    url: 'NiCheng.html' 
		// 	  });
		// 	});
			
		// </script>
		
<%end%>
