<%content_for :head do%>	
	<meta charset="utf-8">
	    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
			  <%=javascript_include_tag "jquery-2.1.0"%>
          <%=javascript_include_tag "mui.min"%>
          <%=stylesheet_link_tag "wechat_front/mui.min"%>
          <%=stylesheet_link_tag "wechat_front/common"%>
          <%=stylesheet_link_tag "wechat_front/My_account"%>
       <%=stylesheet_link_tag "wechat_front/iconfont"%>
       <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
		<title>会员中心</title>
			<script>

								function tophonebind(){
										window.location.href='phone_bind?appid=<%=params[:appid]%>';
								}
								function tobalance(){
										window.location.href='balance?appid=<%=params[:appid]%>';
								}
								function tocardinfo(){
										window.location.href='card_info?appid=<%=params[:appid]%>';
									
								}
			</script>
				<script type="text/javascript">
			wx.hideAllNonBaseMenuItem();

		 wx.config({
			      debug: false, 
						appId: '<%=params[:appid]%>', 
						timestamp:'<%=timestamp=Time.now.to_i%>' , 
						nonceStr: '<%=nonceStr=SecureRandom.uuid.tr('-', '')%>', 
						signature: '<%=signature(timestamp,nonceStr)%>',
						jsApiList: ['onMenuShareTimeline','onMenuShareAppMessage'] 
		});
		wx.ready(function(){
		//    wx.hideOptionMenu();
		wx.showAllNonBaseMenuItem();
		wx.onMenuShareTimeline({
		      title: '<%=@sangna_config.per_user.name%>会所!', 
		        link: 'http://weixin.linkke.cn/wechat/wc_front/choose_technician?appid=<%=params[:appid]%>',
		        imgUrl: 'http://linkke.cn<%=@sangna_config.per_user.per_user_imgs.first.url.url%>',
		        success: function(res){
							
		        },
		        cancel: function(res){
				    }
			 });


			 wx.onMenuShareAppMessage({
				    title: '<%=@sangna_config.per_user.name%>会所!', 
					  desc: '', 
					  link: 'http://weixin.linkke.cn/wechat/wc_front/choose_technician?appid=<%=params[:appid]%>', 
						imgUrl: 'http://linkke.cn<%=@sangna_config.per_user.per_user_imgs.first.url.url%>',
						success: function () { 
						},
						cancel: function () { 
						}
			 });
		})
	</script>

<%end%>
<%content_for :body do%>
<!--		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>  
			<h1 class="mui-title">个人资料</h1>
		</header>
--!>
		<div class="mui-content">
			<div class="box_1">
					<span class="size loca_3">头像</span>
					<div class="img_border">
						<img src="<%=@wechat_user.headimgurl%>" width="55px" height="55px" />
					</div>
			</div>
			<div class="infor NiCheng">
					<span class="size loca_1">昵称</span>
					<span class="size loca_2"><%=@wechat_user.nickname%></span>
			</div>
			<div class="infor Zhenshi_Xingming" onclick="tophonebind()">
				<a class="mui-navigate-right" >
					<span class="size loca_1">手机</span>
					<%if @wechat_config.member.username!=@wechat_config.openid && @wechat_config.member.username!='未关注' %>
					<span class="size loca_2"><%=@wechat_config.member.username%></span>
					<%else%>
					<span class="size loca_2">未绑定</span>
					<%end%>
				</a>
			</div>
	<div class="infor Zhenshi_Xingming" onclick="tobalance()">
				<a class="mui-navigate-right" >
					<span class="size loca_1">余额</span>
					<span class="size loca_2">0</span>
				</a>
			</div>
	<div class="infor Zhenshi_Xingming" onclick="tocardinfo()">
				<a class="mui-navigate-right" >
					<span class="size loca_1">卡卷</span>
					<div class="loca_2 size ">
						<!--<img src="../images/5-131223215K9-50.gif" alt="" />-->
							<%if params[:new]=='true'%>
							<span class="tip_new">New!</span>
							<%end%>
								<span class=""><%=@sangna_config.per_user.coupons_records.where(member_id:@wechat_config.member_id).where("status not in (3,4)").count%></span>
						</div>
						</a>
					</div>
	
		</div>
		<!--底部-->
		<div class="footer">
			<div class="box_footer">
				<img src="/images/buttom_img.png" width="42px" height="42px"/>
				<div class="footer_infor">
					<span class="type_size">领客</span>
					<span class="linkke">LINKKE.CN</span>
				</div>
			</div>
		</div>

		 <script>
				$(function(){
						$('.footer_infor').css('width',$('.linkke').width());
						$('.box_footer').css('width',$('.linkke').width()+42);
						if((window.innerHeight-$('.mui-content').height()-100)>0){
							$('.footer').css('margin-top',window.innerHeight-$('.mui-content').height()-55)
						}
					})
			
		// 	document.querySelector('.NiCheng').addEventListener('tap', function() {
		// 	  //打开昵称页面
		// 	  mui.openWindow({
		// 	    url: 'NiCheng.html' 
		// 	  });
		// 	});
			
		// </script>
		
<%end%>
