<%content_for :head do%>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<%=javascript_include_tag "jquery-2.1.0"%>
		<%=javascript_include_tag "mui.min"%>
		<%=stylesheet_link_tag "wechat_front/mui.min"%>
		<%=stylesheet_link_tag "wechat_front/common"%>
		<%=stylesheet_link_tag "wechat_front/Box_jishi"%>
		<%=stylesheet_link_tag "wechat_front/iconfont"%>
		<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
		<title>我的收藏</title>
		<script>
	<%if @inscene%>
			$(function(){
					$('.mui-content').attr("class","mui-content pt44");
				})
			function show_info(technician_id){
					window.location.href="technician_info?t_id="+technician_id+"&appid=<%=params[:appid]%>";
			}
			function toperson(){
					window.location.href='my_account?appid=<%=params[:appid]%>';
			}
			<%else%>
			function collect(technician_id,icon){
						   var status="add";
							 if($(icon).attr("class").substr(-1)=="n"){
							 status="rm";
							 }
							 $.get("change_collect",{technician_id:technician_id,status:status,appid:"<%=params[:appid]%>"},function(obj){
									if(status=="add"){
										 $(icon).attr("class","mui-icon iconfont icon-xingxingman");
										 mui.toast('收藏成功');
									}   
								  else{
								     $(icon).attr("class","mui-icon iconfont icon-xingxingkong");
										 mui.toast('取消收藏成功');
								  }
							 })
			}
			$(function(){
				$('.backdrop').show();
				$('.close_popup').click(function(){
					$('.popup').hide();
					$('.backdrop').hide();
				})
			wx.config({
					debug: false, 
					appId: '<%=params[:appid]%>',
					timestamp:'<%=timestamp=Time.now.to_i%>',
					nonceStr: '<%=nonceStr=SecureRandom.uuid.tr('-', '')%>',
					signature: '<%=signature(timestamp,nonceStr)%>',
					jsApiList: ["scanQRCode"]
			});

		wx.ready(function(){
			$("#qrcode").click(function(){
				wx.scanQRCode({
					needResult: 1, 
					scanType: ["qrCode"],
					success: function (res) {
						var result = res.resultStr;
						$('.mui-bar-nav~.mui-content').css("padding-top",'44px');
							window.location.href=result;
					}
				});	
			});
		})
					$('.cancel').click(function(){
							wx.closeWindow();
					})

})
		<%end%>
		</script>
	<%end%>
	<%content_for :body do%>
			<%=render partial: "technician" ,locals: {technicians:@technicians,inscene:@inscene,name:@sangna_config.per_user.name,wechat_config:@wechat_config}%>
	<%end%>
