<%content_for :head do%>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<%=javascript_include_tag "jquery-2.1.0"%>
		<%=javascript_include_tag "mui.min"%>
		<%=stylesheet_link_tag "wechat_front/mui.min"%>
		<%=stylesheet_link_tag "wechat_front/common"%>
		<%=stylesheet_link_tag "wechat_front/Box_jishi"%>
		<%=stylesheet_link_tag "wechat_front/iconfont"%>
		<title>我的收藏</title>
		<script>
			function show_info(technician_id){
					window.location.href="technician_info?t_id="+technician_id+"&appid=<%=params[:appid]%>";
			}
		</script>
	<%end%>
	<%content_for :body do%>
 <!--  <header class="mui-bar mui-bar-nav">
    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a> 
    <h1 class="mui-title">我的收藏</h1> 
      <a class="mui-pull-right " href="javascript:void(0)" id="qrcode">扫一扫</a>
  </header>
--!>
			<%=render partial: "technician" ,locals: {technicians:@technicians,tips:"",inscene:false,name:@sangna_config.per_user.name}%>
	<%end%>
