
	<%content_for :head do%>
		<meta charset="utf-8">
	    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<%=javascript_include_tag "jquery-2.1.0"%>
		<%=javascript_include_tag "mui.min"%>
		<%=stylesheet_link_tag "wechat_front/mui.min"%>
		<%=stylesheet_link_tag "wechat_front/common"%>
		<%=stylesheet_link_tag "wechat_front/ShouJiYanZheng"%>
		<%=stylesheet_link_tag "wechat_front/iconfont"%>
	    <title>手机绑定</title>

	<%content_for :body do%>

		<div class="mui-content">
			<div class="box_infor">
				<div class="title">手机绑定</div>
				<form action="" id="testForm" novalidate="novalidate">
					<div class="infor">
						<div class="mui-input-row">
							<span class="mui-icon iconfont icon-iconfontshouji"></span>
							<input class="mui-input-clear" type="text" placeholder="请输入手机号码"  />
						</div>
					</div>
					<div class="infor_2">
						<span class="mui-icon mui-icon-locked"></span>
						<input type="text" placeholder="请输入验证码"    required=""/  id="verify">
						<button id="btn" class="mui-btn mui-btn-positive" type="button">获取验证码</button>
					</div>
					
					<button id="submit" class="mui-btn public_btn">立即绑定</button>
				</form>
			</div> 
		</div>
		<script type="text/javascript">
			document.getElementById("btn").addEventListener("click",function(){
					//倒计时
					var count = 60;
	                var countdown = setInterval(CountDown, 1000)   
	                function CountDown() {
	                	
	                		if(count>0){
	    			 			$('#btn').attr('disabled','disabled');
		    			 	}else{
		    			 		$('#btn').removeAttr('disabled');
		    			 	}
		    			 	
	                    $("#btn").html( count + " 秒");
	                    if (count == 0) {
	                    		$("#btn").html('获取验证码');
	                        clearInterval(countdown);
	                    }
	                    count--;
	                }
                
                
				    var user = $("#user");
				    var user_val=$('#user').val();
				    if ($.html5Validate.isAllpass(user)) {
			   		 //ajax 短信验证
				   mui.post(ServerUrl+'tech/verify',{user:user_val},function(data){
				   if(data){
				   			mui.toast('该用户名已存在');
				   			$("#btn").html('获取验证码');
	                        clearInterval(countdown);
				   	}
			
			   	})
//倒计时
				   
			   }
				    
						
					
			});
		</script>
		<%end%>