
	<%content_for :head do%>
		<meta charset="utf-8">
	    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<%=javascript_include_tag "jquery-2.1.0"%>
		<%=javascript_include_tag "mui.min"%>
		<%=stylesheet_link_tag "wechat_front/mui.min"%>
		<%=stylesheet_link_tag "wechat_front/common"%>
		<%=stylesheet_link_tag "wechat_front/ShouJiYanZheng"%>
		<%=stylesheet_link_tag "wechat_front/iconfont"%>
		<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
	    <title>手机绑定</title>
	    	<script type="text/javascript">
			wx.hideAllNonBaseMenuItem();

		 wx.config({
			      debug: false, 
						appId: '<%=params[:appid]%>', 
						timestamp:'<%=timestamp=Time.now.to_i%>' , 
						nonceStr: '<%=nonceStr=SecureRandom.uuid.tr('-', '')%>', 
						signature: '<%=signature(timestamp,nonceStr)%>',
						jsApiList: ['onMenuShareTimeline','onMenuShareAppMessage'] 
		});
		wx.ready(function(){
		//    wx.hideOptionMenu();
		wx.showAllNonBaseMenuItem();
		wx.onMenuShareTimeline({
		      title: '<%=@sangna_config.per_user.name%>!', 
		        link: 'http://weixin.linkke.cn/wechat/wc_front/choose_technician?appid=<%=params[:appid]%>',
		        imgUrl: 'http://linkke.cn<%=@sangna_config.per_user.per_user_imgs.first.url.thumb.url%>',
		        success: function(res){
							
		        },
		        cancel: function(res){
				    }
			 });


			 wx.onMenuShareAppMessage({
				    title: '<%=@sangna_config.per_user.name%>!', 
					  desc: '', 
					  link: 'http://weixin.linkke.cn/wechat/wc_front/choose_technician?appid=<%=params[:appid]%>', 
						imgUrl: 'http://linkke.cn<%=@sangna_config.per_user.per_user_imgs.first.url.thumb.url%>',
						success: function () { 
						},
						cancel: function () { 
						}
			 });
		})
	</script>
<%end%>
	<%content_for :body do%>

		<div class="mui-content">
			<div class="box_infor">
				<div class="title">手机绑定</div>
					<div class="infor">
						<div class="mui-input-row">
							<span class="mui-icon iconfont icon-iconfontshouji"></span>
							<input class="mui-input-clear" type="text" placeholder="请输入手机号码" id="user" />
						</div>
					</div>
					<div class="infor_2">
						<span class="mui-icon mui-icon-locked"></span>
						<input type="text" placeholder="请输入验证码"    required=""  id="verify" />
						<button id="btn" class="mui-btn mui-btn-positive" type="button">获取验证码</button>
					</div>
					
					<button id="my_bind" class="mui-btn public_btn" type='button'>立即绑定</button>
			</div> 
		</div>
		<script type="text/javascript">
					document.getElementById('my_bind').addEventListener('click',function(){
						if ($("#user").val().length==11 && parseInt($("#user").val()).toString().length==11){
								if($("#verify").val()!=""){
										$.post('bind_phone',{appid:'<%=params[:appid]%>',phone:$("#user").val(),code:$("#verify").val()},function(obj){
											if(obj=='err'){
													mui.toast("验证码错误!");
											}
											else{
													mui.toast('绑定成功!'); 
													window.location.replace("my_account?appid=<%=params[:appid]%>")
											}
										}) 
								}
								else{
									mui.toast('请输入验证码!'); 
								}
						}
						else
						{
							mui.toast("请输入正确的手机号码!");
						}
					})


					document.getElementById("btn").addEventListener("click",function(){
					//倒计时
					var count = 60;
	                var countdown = setInterval(CountDown, 1000)   
	                function CountDown() {
	                	
	                		if(count>0){
	    			 			$('#btn').attr('disabled','disabled');
		    			 	}else{
		    			 		$('#btn').removeAttr('disabled');
		    			 	}
		    			 	
	                    $("#btn").html( count + " 秒");
	                    if (count == 0) {
	                    		$("#btn").html('获取验证码');
	                        clearInterval(countdown);
	                    }
	                    count--;
	                }
                
                
				    var user = $("#user");
				    var user_val=$('#user').val();
				   $.post('sent_code',{phone:user_val,appid:'<%=params[:appid]%>'},function(data){
				   if(data=='exist'){
				   			mui.toast('该用户名已存在');
				   			$("#btn").html('获取验证码');
	              clearInterval(countdown);
				   	}
						else if(data=='err'){
								mui.toast('请输入正确的手机号码!');	
								$("#btn").html('获取验证码');
	              clearInterval(countdown);
						}
						else if (data=='提交成功'){
								mui.toast("提交成功!短信收取快慢与短信运营商有关!请耐心等待!")	
						}
						else{
								mui.toast(data);
								 $("#btn").html('获取验证码');
								 clearInterval(countdown);

						}
			
			   	})
//倒计时
			});
		</script>
		<%end%>
