	<%content_for :head do%>
			<meta charset="utf-8">
	    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	    <title>项目介绍</title>
			 <%=javascript_include_tag "jquery-2.1.0"%>
          <%=javascript_include_tag "mui.min"%>
          <%=stylesheet_link_tag "wechat_front/mui.min"%>
          <%=stylesheet_link_tag "wechat_front/common"%>
          <%=stylesheet_link_tag "wechat_front/Fuwu_xiangmu"%>
      <%=stylesheet_link_tag "wechat_front/iconfont"%>
<%end%>
<%content_for :body do%>
<!--		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a> 
			<h1 class="mui-title">服务项目</h1>
		</header>
--!>
		<div class="mui-content">
			<ul class="mui-table-view mui-table-view-chevron">
			<li class="mui-table-view-cell mui-collapse">
			 <a class="box_list size" href="#">
			  <span class="loca_1">项目</span>
				 <span class="loca_2_1">首钟</span>
				  <span class="loca_3_1">加钟</span>
					 </a>
					 </li>

			<%@projects.each do |project|%>
				<li class="mui-table-view-cell mui-collapse">
					<a class="box_list size" href="#">
						<span class="loca_1"><%=project.name%></span>
						<span class="loca_2">￥<%=project.price.to_i%>/<%=project.duration%>分钟</span>
						<span class="loca_3">￥<%=project.add_price.to_i%>/<%=project.add_duration%>分钟</span>
					</a>
					<ul class="mui-table-view mui-table-view-chevron">
						<div class="box2">
						<!--	<img src="../images/1.jpg" width="87%" height="120px" /> --!>
							<p class="size_p"><%=project.info%></p>
						</div>
					</ul>
				</li>
		<%end%>
			</ul>
		</div>
<%end%>
