	<%content_for :head do%>
			<meta charset="utf-8">
	    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	    <title>项目介绍</title>
			 <%=javascript_include_tag "jquery-2.1.0"%>
          <%=javascript_include_tag "mui.min"%>
          <%=stylesheet_link_tag "wechat_front/mui.min"%>
          <%=stylesheet_link_tag "wechat_front/common"%>
          <%=stylesheet_link_tag "wechat_front/Fuwu_xiangmu"%>
      <%=stylesheet_link_tag "wechat_front/iconfont"%>
      <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
      	<script type="text/javascript">
			wx.hideAllNonBaseMenuItem();

		 wx.config({
			      debug: false, 
						appId: '<%=params[:appid]%>', 
						timestamp:'<%=timestamp=Time.now.to_i%>' , 
						nonceStr: '<%=nonceStr=SecureRandom.uuid.tr('-', '')%>', 
						signature: '<%=signature(timestamp,nonceStr)%>',
						jsApiList: ['onMenuShareTimeline','onMenuShareAppMessage'] 
		});
		wx.ready(function(){
		//    wx.hideOptionMenu();
			wx.showAllNonBaseMenuItem();
			wx.onMenuShareTimeline({
		      title: '<%=@sangna_config.per_user.name%>!', 
		        link: 'http://weixin.linkke.cn/wechat/wc_front/choose_technician?appid=<%=params[:appid]%>',
		        imgUrl: '<%=@sangna_config.per_user.get_forward_img("forward")%>',
		        success: function(res){
							
		        },
		        cancel: function(res){
				    }
			 });


			 wx.onMenuShareAppMessage({
				    title: '<%=@sangna_config.per_user.name%>!', 
					  desc: '', 
					  link: 'http://weixin.linkke.cn/wechat/wc_front/choose_technician?appid=<%=params[:appid]%>', 
						imgUrl: '<%=@sangna_config.per_user.get_forward_img("forward")%>',
						success: function () { 
						},
						cancel: function () { 
						}
			 });
		})

		$(function(){
				$('.footer_infor').css('width',$('.linkke').width());
				$('.box_footer').css('width',$('.linkke').width()+42);
				if((window.innerHeight-$('.mui-content').height()-100)>0){
						$('.footer').css('margin-top',window.innerHeight-$('.mui-content').height()-55)
					}

			})


	</script>
<%end%>
<%content_for :body do%>
<!--		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a> 
			<h1 class="mui-title">服务项目</h1>
		</header>
--!>
		<div class="mui-content">
			<ul class="mui-table-view mui-table-view-chevron">
			<li class="mui-table-view-cell mui-collapse">
			 <a class="box_list size" href="#">
			  <span class="loca_1">项目</span>
				 <span class="loca_2_1">首钟</span>
				  <span class="loca_3_1">加钟</span>
					 </a>
					 </li>

			<%@projects.each do |project|%>
				<li class="mui-table-view-cell mui-collapse">
					<a class="box_list size" href="#">
						<span class="loca_1"><%=project.name%></span>
						<span class="loca_2">￥<%=project.price.to_i%>/<%=project.duration==0 ? '次' : "#{project.duration>480 ? project.get_format_time(project.duration) : "#{project.duration}分钟"}"%></span>
						<span class="loca_3"><%=project.add_price.nil? || project.add_duration.nil?  ? '/' : "￥#{project.add_price.to_i}/#{project.add_duration==0 ? "次" : project.add_duration>480 ? project.get_format_time(project.add_duration) : "#{project.add_duration}分钟"}"%></span>
					</a>
					<ul class="mui-table-view mui-table-view-chevron">
						<div class="box2">
						<!--	<img src="../images/1.jpg" width="87%" height="120px" /> --!>
							<p class="size_p"><%=project.info%></p>
						</div>
<!--						<div class="box_recommend">
							<p>实时推荐</p>
							<div class="Jishi_infor ">
								<div class="box_jishi">
									<div class="box_img ">
											<img class="jishi_img" src="../images/6.jpg" alt="" height="50px" width="50px" />
									</div>
									<span class="jishi_num fs17">0121</span>
									<span class="jishi_sex fs11">（女）</span>
									<span class="jishi_type">大厅技师</span>
									<span class="jishi_state fs11">
											<span class="time">13:00pm</span>有预约
									</span>
									<div class="yuan_yuyue">
										<span class="mui-icon mui-icon-phone"></span>
										<span class="mui-icon iconfont icon-dianhua"></span>
									</div>
									<div class="yuan_shoucang ">
										<span class="mui-icon iconfont icon-xingxingkong"></span>
									</div>
								</div>
								<div class="evaluate fs10">
										客户评价：
										<span class="project">日式</span>
										<span class="jishi_best">头肩一流</span>																										</div>
								<span class="current_state fs12">当前空闲</span>
						</div>
					</div>
--!>
					</ul>
				</li>
		<%end%>
			</ul>
		</div>
<!--底部-->
		<div class="footer">
			<div class="box_footer">
				<img src="/images/buttom_img.png" width="42px" height="42px"/>
				<div class="footer_infor">
					<span class="type_size">领客</span>
					<span class="linkke">LINKKE.CN</span>
				</div>
			</div>
		</div>

<%end%>

