	<%content_for :head do%>	
	<meta charset="utf-8">
	    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
			 <%=javascript_include_tag "jquery-2.1.0"%>
             <%=javascript_include_tag "mui.min"%>
             <%=stylesheet_link_tag "wechat_front/mui.min"%>
             <%=stylesheet_link_tag "wechat_front/common"%>
             <%=stylesheet_link_tag "wechat_front/HuiSuo_infor"%>
        <%=stylesheet_link_tag "wechat_front/iconfont"%>
	<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
		<title>会所详情</title>
			<script type="text/javascript">
			wx.hideAllNonBaseMenuItem();
		 wx.config({
			      debug: false, 
						appId: '<%=params[:appid]%>', 
						timestamp:'<%=timestamp=Time.now.to_i%>' , 
						nonceStr: '<%=nonceStr=SecureRandom.uuid.tr('-', '')%>', 
						signature: '<%=signature(timestamp,nonceStr)%>',
						jsApiList: ['onMenuShareTimeline','onMenuShareAppMessage'] 
		});
		wx.ready(function(){
		wx.showAllNonBaseMenuItem();
		wx.onMenuShareTimeline({
		      title: '<%=@sangna_config.per_user.name%>!', 
		        link: 'http://weixin.linkke.cn/wechat/wc_front/choose_technician?appid=<%=params[:appid]%>',
		        imgUrl: 'http://linkke.cn<%=@sangna_config.per_user.per_user_imgs.first.url.thumb.url%>',
		        success: function(res){
							
		        },
		        cancel: function(res){
				    }
			 });


			 wx.onMenuShareAppMessage({
				    title: '<%=@sangna_config.per_user.name%>!', 
					  desc: '', 
					  link: 'http://weixin.linkke.cn/wechat/wc_front/choose_technician?appid=<%=params[:appid]%>', 
						imgUrl: 'http://linkke.cn<%=@sangna_config.per_user.per_user_imgs.first.url.thumb.url%>',
						success: function () { 
						},
						cancel: function () { 
						}
			 });
		})
	</script>
<%end%>
<%content_for :body do%>
		<div class="mui-content">
			<div class="box">
				<div id="slider" class="mui-slider" >
					<div class="mui-slider-group mui-slider-loop">
						<!-- 额外增加的一个节点(循环轮播：第一个节点是最后一张轮播) -->
						<div class="mui-slider-item mui-slider-item-duplicate">
							<a href="#">
								<img src="http://linkke.cn<%=@per_user_imgs.first.url.thumb.url%>" width="100%" height="200px">
							</a>
						</div>
			
						<!-- 第一张 -->
						<%@per_user_imgs.each_with_index do |per_user_img,index|%>
						<div class="mui-slider-item">
							<a href="#">
								<img src="http://linkke.cn<%=per_user_img.url.thumb.url%>" width="100%" height="200px">
							</a>
						</div>
						<%end%>
						<!-- 额外增加的一个节点(循环轮播：最后一个节点是第一张轮播) -->
					<div class="mui-slider-item mui-slider-item-duplicate">
							<a href="#">
								<img src="http://linkke.cn<%=@per_user_imgs.first.url.thumb.url%>" width="100%" height="200px">
							</a>
						</div>
		
					</div>
					<div class="mui-slider-indicator">
						<div class="mui-indicator mui-active"></div>
						<% (@per_user_imgs.size-1).times do %>
						<div class="mui-indicator"></div>
						<%end%>
					</div>
				</div>
			</div>
			<div class="box_infor fs14">
				<div class="huisuo_infor">
					<span class="left">平均消费</span>
					<span class="right fs12">￥<%=@sangna_info.per_capita_spending%>元</span>
				</div>
				<%if @sangna_info.sauna%>
				<div class="huisuo_infor">
					<span class="left">净桑</span>
					<span class="right fs12">￥<%=@sangna_info.sauna%>元</span>
				</div>
				<%end%>
			</div>
			<div class="box_infor fs14">
				<div class="huisuo_infor">
					<span class="left">前台电话</span>
					<span class="right fs12"><%=@sangna.phone%></span>
				</div>
			<%if @sangna_info.car_phone.present?%>
			<div class="huisuo_infor">
					<span class="left">专车电话</span>
					<span class="right fs12"><%=@sangna_info.car_phone%></span>
			</div>
			<%end%>
			</div>
			<div class="box_infor fs14">
				<div class="addr">
					<span class="">详细地址</span>
				</div>
				<div class="huisuo_infor_2">
					<span class="fs12"><%=@sangna.get_address%><%=@sangna.address%></span>
				</div>
			</div>
			<div class="box_infor fs14">
				<div class="addr">
					<span class="">详细内容</span>
				</div>
				<div class="huisuo_infor2">
					<div class="fs12"><%=@sangna_info.info%></div>
				</div>
			</div>
		</div>
	 <div class="footer">
			<div class="box_footer">
	       <img src="/images/buttom_img.png" width="42px" height="42px"/>
	       <div class="footer_infor">
	         <span class="type_size">领客</span>
	         <span class="linkke">LINKKE.CN</span>
	       </div>
	     </div>
   </div>

		<script type="text/javascript" charset="utf-8">
			$(function(){
					$('.footer_infor').css('width',$('.linkke').width());
					$('.box_footer').css('width',$('.linkke').width()+42);
				})
			mui.init({
				swipeBack:true //启用右滑关闭功能
			});
			var slider = mui("#slider");
			document.getElementById("switch").addEventListener('toggle', function(e) {
				if (e.detail.isActive) {
					slider.slider({
						interval: 5000
					});
				} else {
					slider.slider({
						interval: 0
					});
				}
			});
		</script>
<%end%>
