	<%content_for :head do %>	
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	      <%=javascript_include_tag "jquery-2.1.0"%>
	  <%=javascript_include_tag "mui.min"%>
    <%=stylesheet_link_tag "wechat_front/mui.min"%>
    <%=stylesheet_link_tag "wechat_front/common"%>
    <%=stylesheet_link_tag "wechat_front/PingJiaJiShi_2"%>
    <%=stylesheet_link_tag "wechat_front/iconfont"%>
<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
		<title>评价技师</title>
		<script>
		 wx.config({
			      debug: false, 
						appId: '<%=params[:appid]%>', 
						timestamp:'<%=timestamp=Time.now.to_i%>' , 
						nonceStr: '<%=nonceStr=SecureRandom.uuid.tr('-', '')%>', 
						signature: '<%=signature(timestamp,nonceStr)%>',
						jsApiList: ['onMenuShareTimeline','onMenuShareAppMessage','showMenuItems'] 
		});
		 function get_ab_redbage(){
		 	<%if @ab_rule_id%>
				$.post("get_ab_redbage",{ab_rule_id:<%=@ab_rule_id%>,appid:<%=params[:appid]%>,o_id:<%=params[:o_id]%>},function(obj){
					if(obj=='ok'){
							
						}
						else{
							
						}
				})
			<%end%>
		 }
		 <%if @open_redbage%>
		wx.ready(function(){
			wx.showMenuItems({
				    menuList: ['menuItem:profile','menuItem:addContact'] // 要显示的菜单项，所有menu项见附录3
			});
		wx.onMenuShareTimeline({
		      title: '送你<%=Region.where(regions_code:@order.per_user.district_id).first.try(:regions_NAME)%><%=@order.per_user.name%>代金券,记得一定要找<%=@order.per_user_masseuse.job_number%>服务啊!', 
		        link: 'http://weixin.linkke.cn/wechat/wc_front/redbage?appid=<%=params[:appid]%>&o_id=<%=@order.id%>&id=<%=@order.member_id%>&same=<%=params[:same]%>',
		        imgUrl: 'http://weixin.linkke.cn/images/forward.png',
		        success: function(res){
								var data=$("#my_form").serialize();
								if (data==''){
										mui.toast('请选择评论后,重新分享');
										$("#shareit").hide(); 
								}
								else{
										data=data+"&o_id=<%=params[:o_id]%>";
										 $.post('remark',data,function(obj){
													$.post('get_redbage',{o_id:'<%=params[:o_id]%>',same:<%=params[:same]%>},function(r_obj){
													   if(r_obj=='ok'){
																	mui.toast('分享成功!代金券已放入您的卡券中');
															}
															else{
																	mui.toast('分享成功!您已领取过代金券!');
																	$("#shareit").hide(); 
															}
													 })
								     })
								}
								get_ab_redbage();
								window.location.replace('my_account?appid=<%=params[:appid]%>&new=true');
		        },
		        cancel: function(res){
				    }
			 });


			 wx.onMenuShareAppMessage({
				    title: '送你<%=Region.where(regions_code:@order.per_user.district_id).first.try(:regions_NAME)%><%=@order.per_user.name%>代金券,一定要找<%=@order.per_user_masseuse.job_number%>服务啊!', 
					  desc: '<%=@order.per_user.name%>送我红包了!赶紧去抢吧!', 
					  link: 'http://weixin.linkke.cn/wechat/wc_front/redbage?appid=<%=params[:appid]%>&o_id=<%=@order.id%>&id=<%=@order.member_id%>&same=<%=params[:same]%>', 
						imgUrl: 'http://weixin.linkke.cn/images/forward.png',
						success: function () { 
								var data=$("#my_form").serialize();
								if (data==''){
										mui.toast('请选择评论后,重新分享');
										$("#shareit").hide(); 
								}
								else{
										data=data+"&o_id=<%=params[:o_id]%>";
										 $.post('remark',data,function(obj){
													$.post('get_redbage',{o_id:'<%=params[:o_id]%>',same:<%=params[:same]%>},function(r_obj){
													   if(r_obj=='ok'){
																	mui.toast('分享成功!代金券已放入您的卡券中');
																	
															}
															else{
																	mui.toast('分享成功!您已领取过代金券!');
																	$("#shareit").hide(); 
															}
													 })
								     })
								}
								get_ab_redbage();
								window.location.replace('my_account?appid=<%=params[:appid]%>&new=true');
						},
						cancel: function () { 
						}
			 });
		})
				<%else%>
								wx.ready(function(){
										wx.onMenuShareTimeline({
											title: '我刚去了<%=Region.where(regions_code:@order.per_user.district_id).first.try(:regions_NAME)%><%=@order.per_user.name%>,他们的服务一流', 
											link: 'http://weixin.linkke.cn/wechat/wc_front/choose_technician?appid=<%=params[:appid]%>&skip=h',
											imgUrl: 'http://linkke.cn<%=@order.per_user.per_user_imgs.first.url.thumb.url%>',
											success: function(res){
												get_ab_redbage();
												window.location.replace('my_account?appid=<%=params[:appid]%>');
											},
											cancel: function(res){
											}
										});


										wx.onMenuShareAppMessage({
												title: '我刚去了<%=Region.where(regions_code:@order.per_user.district_id).first.try(:regions_NAME)%><%=@order.per_user.name%>,他们的服务一流', 
											  desc: '', 
												link: 'http://weixin.linkke.cn/wechat/wc_front/choose_technician?appid=<%=params[:appid]%>&skip=h', 
												imgUrl: 'http://linkke.cn<%=@order.per_user.per_user_imgs.first.url.thumb.url%>',
												success: function () { 
													get_ab_redbage();
													window.location.replace('my_account?appid=<%=params[:appid]%>');
												},
												cancel: function () { 
												}
										});
		})

						$(function(){
									$("#remark").click(function(){
									var data=$("#my_form").serialize();
									if (data==''){
											mui.toast('请选择评论后,重新分享');
											$("#shareit").hide(); 
									}
									else{
											data=data+"&o_id=<%=params[:o_id]%>";
											 $.post('remark',data,function(obj){
													if(obj=='ok'){
														mui.toast('评论成功');
													}
													else{
														mui.toast('您已评论');	
													}
												})
									}	
								})
						})
			function collect(x){
				 $.get("change_collect",{technician_id:<%=@order.per_user_masseuse.id%>,status:'add',appid:"<%=params[:appid]%>"},function(obj){
					 mui.toast('收藏成功');		
					 x.parentNode.removeChild(x); 
				 })
			}

				<%end%>
		</script>
<%end%>
<%content_for :body do%>
		<div class="mui-content">
			<div class="title">技师印象</div>
			<div class="box_content mar_top">
				<div class="PingJia_box">
					<form class="" id="my_form">
						<%TechniqueEvalution.where(status:1,del:1).each do |evalution|%>
						<div class="mui-input-row mui-radio mui-left">
							<label><%=evalution.name%></label>
							<input name="remark" type="radio" value='<%=evalution.id%>' >
						</div>
						<%end%>
					</form>
				</div>
				<div class="box_btn">
					<a href="tel:<%=@order.per_user.phone%>"><button class="mui-btn mui-btn-outlined">投诉建议</button></a>
					<%if @open_redbage%>
					<button id="share_btn" class="mui-btn mui-btn-positive">分享这次体验</button>
					<%else%>
					<button  class="mui-btn mui-btn-positive" id='remark'>评论</button>
					<%end%>
				</div>
				<div class="Line"></div>
				<%if is_collect(params[:appid],@order.per_user_masseuse.id)=='kong'%>
					<button class="type_btn" onclick="collect(this)">收藏技师</button>
				<%end%>
			</div>
			<a class="type_a" href="javascript:history.go(-1);">返回</a>
		</div>
		<div id="shareit">
		  <img class="arrow" src="/images/share-it.png">
		  <div href="#" id="follow" >点击右上角即可分享</div>
		</div>
		<script>
		  //立即分享到微信朋友圈点击事件
		  $("#share_btn").on("click", function() {
		      $("#shareit").show();
		  });
		  $("#shareit").on("click", function(){
		    $("#shareit").hide(); 
		  })
			 function collect(x){
				 $.get("change_collect",{technician_id:<%=@order.per_user_masseuse.id%>,status:'add',appid:"<%=params[:appid]%>"},function(obj){
					 mui.toast('收藏成功');		
					 x.remove(x.selectedIndex);
				 })
			}
		</script>
	<%end%>
