<%content_for :head do%>		
			<meta charset="utf-8">
	    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
			<meta name="format-detection" content="telephone=no" />
			<%=javascript_include_tag "jquery-2.1.0"%>
       <%=javascript_include_tag "mui.min"%>
       <%=stylesheet_link_tag "wechat_front/mui.min"%>
       <%=stylesheet_link_tag "wechat_front/common"%>
       <%=stylesheet_link_tag "wechat_front/JiShi_xiangxi"%>
     <%=stylesheet_link_tag "wechat_front/iconfont"%>
     <%=stylesheet_link_tag "wechat_front/iconfont_2"%>
     <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
			<title>技师详细</title>
		<script>
				$(function(){
				   $.each($(".option_score"),function(a,b){
						 if (value!="no evalution"){
							var value=$(this).html();
							for(var i=0;i< Math.round(value);i++){
								$(this).prev().children().children().eq(i).attr("class","on")
							}
						 }
					 })  
						$("#collect").click(function(){
								var status="add";
								if($(this).attr("class").substr(-1)=="n"){
									status="rm";
								}
								$.get("change_collect",{technician_id:<%=@technician.id%>,status:status,appid:"<%=params[:appid]%>"},function(obj){
									if(status=="add"){
										$("#collect").attr("class","mui-icon iconfont icon-xingxingman");
										mui.toast('收藏成功!');
									}		
									else{
										$("#collect").attr("class","mui-icon iconfont icon-xingxingkong");
										mui.toast("取消收藏!");
									}
								})
						})
				})
				function project_info(id){
				}
		</script>

		<script>
	mui.init();
		mui.ready(function () {
			var imgs = document.querySelectorAll("img.mui-action-preview");
			imgs = mui.slice.call(imgs);
			var slider = null;
			if(imgs&&imgs.length>0){
				slider = document.createElement("div");
				slider.setAttribute("id","__mui-imageview__");
				slider.classList.add("mui-slider");
				slider.classList.add("mui-fullscreen");
				slider.style.display = "none";
				slider.addEventListener("tap",function () {
					slider.style.display = "none";
				});
				slider.addEventListener("touchmove",function (event) {
					event.preventDefault();
				})

				var slider_group = document.createElement("div");
				slider_group.setAttribute("id","__mui-imageview__group");
				slider_group.classList.add("mui-slider-group");

				imgs.forEach(function (value,index,array) {
					//给图片添加点击事件，触发预览显示；
					value.addEventListener('tap',function () {
						slider.style.display = "block";
						_slider.refresh();
						_slider.gotoItem(index,0);
					})

					var item = document.createElement("div");
					item.classList.add("mui-slider-item");
					var a = document.createElement("a");
					// a.setAttribute("href","#");
					var img = document.createElement("img");
					img.setAttribute("src",value.src);
					a.appendChild(img)
					item.appendChild(a);
					slider_group.appendChild(item);
				});

				slider.appendChild(slider_group);
				document.body.appendChild(slider);
				var _slider = mui(slider).slider();
			}

			var oldback = mui.back;
			mui.back = function () {
				if(slider&&slider.style.display=="block"){
					slider.style.display = "none";
				}else{
					oldback();
				}
			}

		});
	</script>
	<script type="text/javascript">
			wx.hideAllNonBaseMenuItem();
		 wx.config({
			      debug: false, 
						appId: '<%=params[:appid]%>', 
						timestamp:'<%=timestamp=Time.now.to_i%>' , 
						nonceStr: '<%=nonceStr=SecureRandom.uuid.tr('-', '')%>', 
						signature: '<%=signature(timestamp,nonceStr)%>',
						jsApiList: ['onMenuShareTimeline','onMenuShareAppMessage'] 
		});
		wx.ready(function(){
		//    wx.hideOptionMenu();
		wx.showAllNonBaseMenuItem();
		wx.onMenuShareTimeline({
		      title: '<%=@sangna_config.per_user.name%>!', 
		        link: 'http://weixin.linkke.cn/wechat/wc_front/choose_technician?appid=<%=params[:appid]%>',
		        imgUrl: '<%=@sangna_config.per_user.get_forward_img("forward")%>',
		        success: function(res){
							
		        },
		        cancel: function(res){
				    }
			 });


			 wx.onMenuShareAppMessage({
				    title: '<%=@sangna_config.per_user.name%>!', 
					  desc: '', 
					  link: 'http://weixin.linkke.cn/wechat/wc_front/choose_technician?appid=<%=params[:appid]%>', 
						imgUrl: '<%=@sangna_config.per_user.get_forward_img("forward")%>',
						success: function () { 
						},
						cancel: function () { 
						}
			 });
		})
	</script>
	<style>
		.mui-fullscreen{
				position: fixed;
				z-index: 20;
				background-color: #000;
			}
			.title_2{
				margin: 8px auto;
				font-size: 12px;
				text-align: center;
			}
	</style>
<%end%>
<%content_for :body do%>
<!--		<header class="mui-bar mui-bar-nav">
					<a href="javascript:history.go(-1);" class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a> 
					<h1 class="mui-title">详细</h1>
		</header>
--!>
		
		<div class="mui-content">
			<div class="title_2">本技师承诺:只在本店内提供正规水疗服务</div>
			<div class="box_jishi">
				<div class="jishi_img">
					<img src="<%=@technician.get_image(@wechat_config.member_id)%>"  class="mui-action-preview" alt="" width="65px" height="65px" />
				</div>
				<%if @technician.seniority%>
				<div class="box_seniority">
					<span class="seniority_num"><%=@technician.seniority%></span>
					<span class="seniority_Company">年</span>
				</div>
				<%end%>
				<div class="JiShi_JobNum">
					<span class="jishi_num fs17"><%=@technician.job_number%></span>
					<span class="jishi_sex fs11">（<%=@technician.sex==1 ? "男":"女"%>）</span>
				</div>
				<div class="jishi_type fs11">
					<span class="mui-icon iconfont icon-lianxiren "></span>
					<span class=""><%=@technician.per_user_project.try(:name) || "无"%></span>
				</div>
				<span id='collect' class="mui-icon iconfont icon-xingxing<%=is_collect(params[:appid],@technician.id)%>"></span>
			<!--	<span class="on_site fs11">在场时间:></span>
			--!>
			</div>
		<!--	<div class="box_yuyue">
				<div class="title fs16">预约</div>
				<ul class="mui-table-view fs12">
					<li class="mui-table-view-cell">
						<span class="mui-icon iconfont icon-dian "></span>
						<span>13:00pm有预约</span>
					</li>
					<li class="mui-table-view-cell">
						<span class="mui-icon iconfont icon-dian "></span>
						<span>13:00pm有预约</span>
					</li>
					<li class="mui-table-view-cell">
						<span class="mui-icon iconfont icon-dian "></span>
						<span>13:00pm有预约</span>
					</li>
					<li class="mui-table-view-cell">
						<span class="mui-icon iconfont icon-dian "></span>
						<span>13:00pm有预约</span>
					</li>
				</ul>
			</div>
		--!>
			<div class="box_yuyue">
				<div class="title fs16">项目</div>
				<ul class="mui-table-view fs14">
				<%if @technician.projects_id%>
				<%PerUserProject.where("id IN (#{@technician.projects_id}) and del=1 and status=1").pluck(:name,:id,:duration,:price).each do |arr| %>
					<li class="mui-table-view-cell" onclick="project_info('<%=arr[1]%>')">
						<span class="mui-icon iconfont icon-dian "></span>
						<span><%=arr[0]%></span>
						<span class="first_bell">￥<%=arr[3].to_i%>/<%=arr[2]%>分钟</span>
					</li>
				<%end%>
				<%else%>
					<li>无</li>
				<%end%>
				</ul>	
			</div>
			<div class="jishi_state">
				<div class="jishi_infor">
					<span class="left fs14">这个月被收藏</span>
					<span class="right fs14"><%=MasseusesCollect.where(per_user_masseuse_id:@technician.id,del:1).where("DATE_ADD(updated_at,INTERVAL 1 MONTH) > now()").count%>次</span>
				</div>
				<div class="jishi_infor">
					<span class="left fs14">语言</span>
					<span class="right fs14"><%=get_language_name(@technician.language)%></span>
				</div>
<!--				<div class="jishi_infor">
					<span class="left fs14">最多人赞的项目</span>
					<span class="right fs14 jishi_best"></span>
				</div>
--!>
				<div class="jishi_infor">
					<span class="left fs14">最多人赞的技能</span>
					<span class="right fs14"><%=get_hot_comment(@technician.id)%></span>
				</div>
			</div>
<!--			<div class="assess fs14">
					<div class="option1">未评价</div>
				<div class="option1">
					<span class="size1">服务</span>
					<span class="mui-icon iconfont icon-xingxingkong"></span>
					<span class="mui-icon iconfont icon-xingxingkong"></span>
					<span class="mui-icon iconfont icon-xingxingkong"></span>
					<span class="mui-icon iconfont icon-xingxingkong"></span>
					<span class="mui-icon iconfont icon-xingxingkong"></span>
					<span class="size2 fs12">%</span>
				</div>
				<div class="option1">
					<span class="size1">手法</span>
					<span class="mui-icon iconfont icon-xingxingkong"></span>
					<span class="mui-icon iconfont icon-xingxingkong"></span>
					<span class="mui-icon iconfont icon-xingxingkong"></span>
					<span class="mui-icon iconfont icon-xingxingkong"></span>
					<span class="mui-icon iconfont icon-xingxingkong"></span>
					<span class="size2 fs12">%</span>
				</div>
				<div class="option1">
					<span class="size1">力度</span>
					<span class="mui-icon iconfont icon-xingxingkong"></span>
					<span class="mui-icon iconfont icon-xingxingkong"></span>
					<span class="mui-icon iconfont icon-xingxingkong"></span>
					<span class="mui-icon iconfont icon-xingxingkong"></span>
					<span class="mui-icon iconfont icon-xingxingkong"></span>
					<span class="size2 fs12">%</span>
				</div>
				<div class="option1">
					<span class="size1">服务</span>
					<span class="mui-icon iconfont icon-xingxingkong"></span>
					<span class="mui-icon iconfont icon-xingxingkong"></span>
					<span class="mui-icon iconfont icon-xingxingkong"></span>
					<span class="mui-icon iconfont icon-xingxingkong"></span>
					<span class="mui-icon iconfont icon-xingxingkong"></span>
					<span class="size2 fs12">%</span>
				</div>
			</div>
--!>	
				<div class="evaluate">
				<div class="title fs16 pt20">评价</div>
					<div class="box_pingjia_xingxing">
              <%TechnicianLevel.where(status:1,del:1).each_with_index do |level,index|%>
								<div class="box_xingxing">
									<span class="title_option"><%=level.name%></span>
									<div class="starts">
										<ul id="pingStar1">
											<%level.most_level.times do |a|%>
											<li rel="<%=a%>" title="<%=a%>分" ><span class="mui-icon iconfont icon-xingxingman"></span></li>
											<%end%>
										</ul>
									</div>
									<span class="option_score"><%=get_review_rate(@technician.id,level.id)%></span>
							</div>
						<%end%>
						</div>
						<div class="JianGe"></div>

				<%TechniqueEvalution.where(del:1).each do |evalution|%>
				<div class="box_evaluate">
					<span class="comment"><%=evalution.name%></span>
					<span class="num_evaluate"><%=MasseusesReview.where(masseuses_id:@technician.id,technique_evalution_id:evalution.id).where("created_at>:my_time",{my_time:Time.now-1.month}).count%></span>
					<span class="mui-icon iconfont icon-zan"></span>
				</div>
				<%end%>
			</div>

	</div>
<%end%>

