<%content_for :head do%>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	  <%=javascript_include_tag "jquery-2.1.0"%>
	  <%=javascript_include_tag "mui.min"%>
    <%=stylesheet_link_tag "wechat_front/mui.min"%>
    <%=stylesheet_link_tag "wechat_front/common"%>
    <%=stylesheet_link_tag "wechat_front/PingJiaJiShi"%>
    <%=stylesheet_link_tag "wechat_front/iconfont"%>
		  <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
	<title>评价技师</title>
		<script>
				function collect(technician_id,o){
						$.get("change_collect",{technician_id:technician_id,status:"add",appid:'<%=params[:appid]%>'},function(obj){
									$(o).remove();
									mui.toast('收藏成功');
							})		
				}
				
			wx.hideAllNonBaseMenuItem();

				 wx.config({
					      debug: false, 
								appId: '<%=params[:appid]%>', 
								timestamp:'<%=timestamp=Time.now.to_i%>' , 
								nonceStr: '<%=nonceStr=SecureRandom.uuid.tr('-', '')%>', 
								signature: '<%=signature(timestamp,nonceStr)%>',
								jsApiList: ['onMenuShareTimeline','onMenuShareAppMessage'] 
				});
					 wx.ready(function(){
						   //    wx.hideOptionMenu();
							 wx.showAllNonBaseMenuItem();
							       wx.onMenuShareTimeline({
								          title: '我刚去完<%=@order.per_user.name%>会所,它们服务很好可以微信点技师,你也来抢个礼包吧!', 
									        link: 'http://weixin.linkke.cn/wechat/wc_front/redbage?appid=<%=params[:appid]%>&o_id=<%=@order.id%>&id=<%=@order.member_id%>',
									        imgUrl: 'http://weixin.linkke.cn<%=image_path @order.per_user.per_user_imgs.first.url.url%>',
									        success: function(res){
															var data=$("#my_form").serialize();
															if (data==''){
																	mui.toast('请选择评论后,重新分享');
															}
															else{
																	data=data+"&o_id=<%=params[:o_id]%>";
																	 $.post('remark',data,function(obj){
																				$.post('get_redbage',{o_id:'<%=params[:o_id]%>'},function(r_obj){
																				   if(r_obj=='ok'){
																								mui.toast('领取红包成功!');
																						}
																						else{
																								mui.toast('您已领取过红包!');
																						}
																				 })
															     })
															}
									        },
									        cancel: function(res){
											    }
										 });


										 wx.onMenuShareAppMessage({
											    title: '我刚去完<%=@order.per_user.name%>会所,它们服务很好可以微信点技师,你也来抢个礼包吧!', 
												  desc: '', 
												  link: 'http://weixin.linkke.cn/wechat/wc_front/redbage?appid=<%=params[:appid]%>&o_id=<%=@order.id%>&id=<%=@order.member_id%>', 
													imgUrl: 'http://weixin.linkke.cn<%=image_path @order.per_user.per_user_imgs.first.url.url%>',
													success: function () { 
													},
													cancel: function () { 
													}
										 });
				  })

				$(function(){
						$("#remark").click(function(){
								var data=$('#my_form').serialize();
								if(data==''){
										mui.toast('请选择评论!');
								}
								else{
										data=data+"&o_id=<%=params[:o_id]%>"
										$.post('/wechat/wc_front/remark',data,function(obj){
												if(obj=='ok'){
														mui.toast('评论成功');
													 wx.closeWindow();
													}
												else{
														mui.toast('已经评论过了!')	
													}
										})
								}
							})
						 //立即分享到微信朋友圈点击事件
					
							$('#shareit').css('height',document.body.clientHeight);
						   $(".share_btn").on("click", function() {
									var data=$("#my_form").serialize();
									if (data==''){
									     mui.toast('请选择评论');
									 }
								  else{
										 $("#shareit").show();
							    }
								 });
								$("#shareit").on("click", function(){
										$("#shareit").hide(); 
								})

					})

		</script>
<%end%>
<%content_for :body do%>
		<div class="mui-content">
					<div class="bg_img">
						<div class="title">评价技师</div>
							<div class="img_box">
								<img src="<%=image_path @order.per_user_masseuse.img.normal.url%>" alt="" width="78px" height="78px" />
							</div>
							<div class="JiShi_num">NO.<%=@order.per_user_masseuse.job_number%></div>
							<div class="tip">分享朋友圈获取￥10元现金券</div>
							<div class="PingJia_box">
								<form class="" id='my_form'>
									<%TechniqueEvalution.where(del:1).each do |evalution|%>
									 <div class="mui-input-row mui-radio mui-left">
										 <label><%=evalution.name%></label>
										 <input name="remark" type="radio" value='<%=evalution.id%>'>
								   </div>
									 <%end%>
							</form>
					</div>
			    <div class="btn_box">
							<button class="mui-btn mui-btn-outlined left btn_cancel" id="remark">有钱也不要？</button>
							<button class="mui-btn mui-btn-outlined mui-btn-positive left share_btn">分享得红包</button>
					</div>
					<%if is_collect(params[:appid],@order.per_user_masseuse.id)=='kong'%>
					<a href="javascript:void(0)" class="collect" onclick="collect('<%=@order.per_user_masseuse.id%>',this)">收藏技师</a>
					<%end%>
					<div class="propaganda">领客·水疗行业的微信营销利器</div>
					<div class="website">www.linkke.cn</div>
			</div>
	</div>
	<div id="shareit">
			<img class="arrow" src="<%=image_path 'share-it.png'%>">
			<div href="#" id="follow" >点击右上角分享即可得到红包</div>
	</div>

<%end%>
