	<%content_for :head do%>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
  <%=javascript_include_tag "jquery-2.1.0"%>
	  <%=javascript_include_tag "mui.min"%>
    <%=stylesheet_link_tag "wechat_front/mui.min"%>
    <%=stylesheet_link_tag "common"%>
    <%=stylesheet_link_tag "PingJiaJiShi_2"%>
    <%=stylesheet_link_tag "iconfont"%>
<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
		<title>评价技师</title>
		<script type="text/javascript">
			 wx.config({
			      debug: false, 
						appId: '<%=params[:appid]%>', 
						timestamp:'<%=timestamp=Time.now.to_i%>' , 
						nonceStr: '<%=nonceStr=SecureRandom.uuid.tr('-', '')%>', 
						signature: '<%=signature(timestamp,nonceStr)%>',
						jsApiList: ['onMenuShareTimeline','onMenuShareAppMessage','showMenuItems'] 
			 });
			 wx.ready(function(){
				wx.showMenuItems({
				    menuList: ['menuItem:profile','menuItem:addContact'] // 要显示的菜单项，所有menu项见附录3
				});
			<%if @open_redbage%>
			wx.onMenuShareTimeline({
		      title: '送你<%=Region.where(regions_code:@order.per_user.district_id).first.try(:regions_NAME)%><%=@order.per_user.name%>代金券,记得一定要找<%=@order.per_user_masseuse.job_number%>服务啊!', 
		        link: 'http://weixin.linkke.cn/wechat/wc_front/redbage?appid=<%=params[:appid]%>&o_id=<%=@order.id%>&id=<%=@order.member_id%>&same=<%=params[:same]%>',
		        imgUrl: 'http://weixin.linkke.cn/images/forward.png',
		        success: function(res){
													$.post('get_redbage',{o_id:'<%=params[:o_id]%>',same:<%=params[:same]%>},function(r_obj){
													   if(r_obj=='ok'){
																	mui.toast('分享成功!代金券已放入您的卡券中');
																	window.location.replace('recommend_technician?appid=<%=params[:appid]%>&new=true');
															}
															else{
																	mui.toast('分享成功!您已领取过代金券!');
																	$("#shareit").hide(); 
															}
													 })
		        },
		        cancel: function(res){
				    }
			 });


			 wx.onMenuShareAppMessage({
				    title: '送你<%=Region.where(regions_code:@order.per_user.district_id).first.try(:regions_NAME)%><%=@order.per_user.name%>代金券,一定要找<%=@order.per_user_masseuse.job_number%>服务啊!', 
					  desc: '<%=@order.per_user.name%>送我红包了!赶紧去抢吧!', 
					  link: 'http://weixin.linkke.cn/wechat/wc_front/redbage?appid=<%=params[:appid]%>&o_id=<%=@order.id%>&id=<%=@order.member_id%>&same=<%=params[:same]%>', 
						imgUrl: 'http://weixin.linkke.cn/images/forward.png',
						success: function () { 
													$.post('get_redbage',{o_id:'<%=params[:o_id]%>',same:<%=params[:same]%>},function(r_obj){
													   if(r_obj=='ok'){
																	mui.toast('分享成功!代金券已放入您的卡券中');
																	window.location.replace('recommend_technician?appid=<%=params[:appid]%>&new=true');
															}
															else{
																	mui.toast('分享成功!您已领取过代金券!');
																	$("#shareit").hide(); 
															}
													 })
						},
						cancel: function () { 
						}
			 });
			 <%else%>
				wx.onMenuShareTimeline({
		      title: '我刚去了<%=Region.where(regions_code:@order.per_user.district_id).first.try(:regions_NAME)%><%=@order.per_user.name%>,他们的服务一流', 
		        link: 'http://weixin.linkke.cn/wechat/wc_front/choose_technician?appid=<%=params[:appid]%>&skip=h',
		        imgUrl: 'http://linkke.cn<%=@order.per_user.per_user_imgs.first.url.thumb.url%>',
		        success: function(res){
								window.location.replace('recommend_technician?appid=<%=params[:appid]%>');
		        },
		        cancel: function(res){
				    }
			 });


			 wx.onMenuShareAppMessage({
				    title: '我刚去了<%=Region.where(regions_code:@order.per_user.district_id).first.try(:regions_NAME)%><%=@order.per_user.name%>,他们的服务一流', 
					  desc: '', 
					  link: 'http://weixin.linkke.cn/wechat/wc_front/choose_technician?appid=<%=params[:appid]%>&skip=h', 
						imgUrl: 'http://linkke.cn<%=@order.per_user.per_user_imgs.first.url.thumb.url%>',
						success: function () { 
								window.location.replace('recommend_technician?appid=<%=params[:appid]%>');
						},
						cancel: function () { 
						}
			 });
			 <%end%>
		})

			 function collect(x){
				 $.get("change_collect",{technician_id:<%=@order.per_user_masseuse.id%>,status:'add',appid:"<%=params[:appid]%>"},function(obj){
					 mui.toast('收藏成功');		
					 x.parentNode.removeChild(x); 
				 })
			}
		</script>
		<%end%>
		<%content_for :body do%>
		<div class="mui-content">
			<div class="Club_title"><%=@order.per_user.name%></div>
			<div class="box_infor">
				<div class="img_box">
					<img src="<%=@order.per_user_masseuse.get_image(@order.member_id)%>" alt="" width="75px" height="75px" />
				</div>
				<div class="jishi_num"><%=@order.per_user_masseuse.job_number%></div>
			</div>
			<div class="box_content">
				<div class="project">本次服务：<%=@order.per_user_project.name%>￥<%=@order.per_user_project.price.to_i%>/<%=@order.per_user_project.duration%>分钟</div>
				<%TechnicianLevel.where(status:1,del:1).each_with_index do |level,index|%>
				<div class="box_xingxing">
					<span class="title_option"><%=level.name%></span>
					<div class="starts">
					    <ul id="pingStar<%=index+1%>">
					    	<%level.most_level.times do |a|%>
					        <li rel="<%=a+1%>" title="<%=a+1%>分"><span class="mui-icon iconfont icon-xingxingman"></span></li>
					        <%end%>
					    </ul>
					</div>
				</div>
				<%end%>
				<div class="spacing"></div>
				<%if @remark%>
				<div class='remark_info'>技师印象:<%=@order.masseuses_review.try(:technique_evalution).try(:name) || "无"%></div>
				<div class="box_btn">
				<a href='tel:<%=@order.per_user.phone%>'><button class="mui-btn mui-btn-outlined" >投诉建议</button></a>
					<button class="mui-btn mui-btn-positive" id='share'>分享这次体验</button>
					<%else%>
					<div class="box_btn">
					<button class="mui-btn mui-btn-outlined" id='leave'>残忍拒绝评价</button>
					<button class="mui-btn mui-btn-positive" id='remark_level'>尽责完成评价</button>
					<%end%>
				</div>
				<div class="Line"></div>
				<%if is_collect(params[:appid],@order.per_user_masseuse.id)=='kong'%>
					<button class="type_btn" onclick="collect(this)">收藏技师</button>
				<%end%>
				</div>
			</div>
		</div>
		<div id="shareit">
		  <img class="arrow" src="/images/share-it.png">
		  <div href="#" id="follow" >点击右上角即可分享</div>
		</div>
		<script>
		window.onload = function () {
			<%if @remark%>
				  //立即分享到微信朋友圈点击事件
		  $("#share").on("click", function() {
		      $("#shareit").show();
		  });
		  $("#shareit").on("click", function(){
		    $("#shareit").hide(); 
		  })
			var hash=new Array();
			<%@technician_level_remarks.each_with_index do |level,index|%>
				
				var s<%=index+1%> = document.getElementById("pingStar<%=index+1%>")
				var n<%=index+1%> = s<%=index+1%>.getElementsByTagName("li")
		            var q = <%=level.level%>
		            for (var i = 0; i < q; i++) {
		                n<%=index+1%>[i].className = 'on';
		            }
			<%end%>
			<%else%>
			var hash=new Array();
			<%TechnicianLevel.where(status:1,del:1).each_with_index do |level,index|%>
				hash[<%=level.id%>]=0
				var s<%=index+1%> = document.getElementById("pingStar<%=index+1%>")
				var n<%=index+1%> = s<%=index+1%>.getElementsByTagName("li")
				clearAll<%=index+1%> = function () {
		        for (var i = 0; i < n<%=index+1%>.length; i++) {
		            n<%=index+1%>[i].className = '';
		        }
				}
		        for (var i = 0; i < n<%=index+1%>.length; i++) {
		        n<%=index+1%>[i].onclick = function () {
		            var q = this.getAttribute("rel");
		            hash[<%=level.id%>]=q;
		            clearAll<%=index+1%>();
		            for (var i = 0; i < q; i++) {
		                n<%=index+1%>[i].className = 'on';
		            }
//			            m.innerHTML = this.getAttribute("title");
		        }
		     } 
				<%end%>
		    $("#remark_level").click(function(){
		    	var data="";
					var remark=false;
		    	for(var key in hash){  
							if(hash[key]>0){
								remark=true;
							}
        			data+="&"+key+"="+hash[key];   
    			} 
					if(remark==true){
    			data=data.substring(1)+"&o_id="+<%=params[:o_id]%>+"&appid=<%=params[:appid]%>";
    			$.post("/wechat/wc_front/remark_level",data,function(obj){
    				if(obj!="err"){
    					window.location.href="technician_remark?appid=<%=params[:appid]%>&o_id=<%=params[:o_id]%>&l=<%=params[:l]%>&same=<%=params[:same]%>";
    				}
    				else{
    					mui.toast('您已评价');
    				}
    			})
					}
					else{
						mui.toast('您尚未评价!');
					}
		    })
					$("#leave").click(function(){
						wx.closeWindow();
					})
			<%end%>
		}
	</script>
	<%end%>
